<h1>Biz::BingliComment#show</h1>
<%=link_to "返回所属病例",biz_bingli_info_path(@bingli_comment.bingli_info)%>
观点：<%=link_to @bingli_comment.user.nickname,:controller=>"user/personal",:action=>"index",:id=>@bingli_comment.user.id%> : <%=@bingli_comment.content%><br>
<%@bingli_comment.comments.each {|comment|%>
<p>
评论者：<%=comment.user.nickname%>
内容:<%=comment.comment%>
</p>
<%}%>
<%form_tag url_for(:controller=>"biz/bingli_comment",:action=>"add_comment",:id=>@bingli_comment.id) do -%>
<%=text_area_tag 'comment'%>
<%=hidden_field_tag 'bingli_comment_id',@bingli_comment.id%>
<%=submit_tag "提交",:disable_with => '提交中...'%>
<%end%>

