<div class='bingli_info_summary'><div class="statscontainer">
        <div class="statsarrow"></div>
        <div class="stats">
            <div class="vote">
                <div class="votes">
                    <span class="vote-count-post"><strong><%=bingli_info.votes_value%></strong></span>
                    <div class="viewcount">投票</div>
                </div>
            </div>
            <div class="status <%=bingli_info.bingli_comments.blank? ? 'unanswered' : 'answered'%>">
                <strong><%=bingli_info.bingli_comments.size%></strong>讨论
            </div>
        </div>
        <div class="views" title="214 views"><%=bingli_info.page_views%> 浏览</div>
    </div>

	<div class="summary">        
	        <h3><%=link_to bingli_info.title,biz_bingli_info_path(bingli_info),{:class => 'question-hyperlink'}%></h3>
	        <div class="excerpt">
<%=truncate(bingli_info.bingli.zhusu.to_s+bingli_info.bingli.xianbingshi.to_s+bingli_info.bingli.tigejiancha.to_s,:length => 250)%>...
	        </div>

	        <div class="tags t-java t-eclipse t-coding-style t-formatter">
	            <%for tag in bingli_info.tags%><%=link_to tag.name,tagged_source_path(:controller=>'biz/bingli_infos',:tag => tag.name),{:class=>"post-tag",:title=>"显示更多关于 '#{tag.name}' 的病例" ,:rel=>"tag"}%><%end%>
			</div>



	        <div class="started fr post-signature">
	           <%=render :partial => 'shared/post_signature',:locals => {:post => bingli_info}%>
	        </div>  
	    </div></div>