<%#
Copyright 2009 Timothy Fisher

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>
<%#= stylesheet_link_tag 'forum' %>

<div id="forum_links">
	<% if logged_in? %>
		<div id="forum_my"><%= link_to 'My Discussions', user_forum_posts_path(current_user) %></div>
	<% end %>
</div>		
<div style="width:960px;">
	<% if logged_in? && current_user.is_admin %>
		<button class="tundra" dojoType="dijit.form.Button" onclick="add_new_topic()">增加新主题</button><br/><br/>
	<% end %>
	<div id='header' style="width:948px;margin:10px auto;height:35px;font-size:15px;font-weight:bold;border-bottom:1px solid #999">
		<span style="width:350px;float:left;text-align:left;">交流区</span>
		<span style="width:150px;float:left;">主题</span>
		<span style="width:150px;float:left;">回复</span>
		<span style="width:150px;float:left;">最新回复</span>				
	</div>
	<% @forum_topics.each do |topic| %>
		<div style="width:948px;float:left;margin:10px auto;clear: both;background-color:#EFF7FC">
			<div style="width:350px;float:left;text-align:left;"><%= link_to topic.title, forum_topic_forum_posts_path(topic),{:style=>"font-size:18pt;font-weight:bold;"} %></div><br/>
			<div style="float:left;clear:both;width:350px;margin-top:10px;"><%= topic.description %></div>
			<div style="width:150px;float:left;margin-top: -10px;"><%= topic.forum_threads.length %></div>
			<div style="width:150px;float:left;margin-top: -10px;"><%= topic.forum_posts.length %></div>
			<% if topic.forum_posts.length != 0 %>
				<% last_post = topic.forum_posts[0] %>
				<div style="float:left;width:150px;margin-top: -10px;">
					<%= link_to last_post.title, forum_post_path(last_post) %><br/>
					作者： <%=link_to last_post.user.login,user_path(last_post.user) %><br/>
					<%= last_post.created_at.to_s(:basic) %>
				</div>
			<% else %>
				<div style="float:left;width:150px;margin-top: -10px;">无交流内容</div>
			<% end %>
		</div>
	<% end %>
	<% if @forum_topics.length == 0 %>
		无交流主题
	<% end %>
</div>


