<style type="text/css" media="screen">
	<!--
	body {font-family:"宋体";margin:0;font-size:12px;}
	a {font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#002850;}
	a:link {text-decoration:none;}
	a:visited {text-decoration:none;color:#002850;}
	a:hover {text-decoration:underline;color:#002850;}
	a:active {text-decoration:none;color:#002850;}
	h1,h2,h3,p,ul,li {margin:0;padding:0;}
	ul,li {list-style-type:none;list-style-images:none;}
	.nowpsn {width:880px;padding:0 10px;height:30px;margin:10px auto;clear:both;border-bottom:1px solid #d8d8d8;}
	.nowpsn h1 {font:normal 18px "黑体";float:left;line-height:30px;}
	.nowpsn span {font-size:12px;float:right;line-height:30px;}
	.area {width:880px;margin:0 auto;}
	.area ul {width:880px;float:left;background:#F5F9FA;padding:10px 0;}
	.area li {width:840px;float:left;padding:0px 20px;line-height:26px;}
	.area li input,.area li textarea {border:1px solid #879BB3;}
	.area li label {float:left;} 
	.area .btn {width:85px;height:32px;line-height:32px;cursor:pointer;background:url(/images/loginbg.gif) -87px -247px no-repeat;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;margin:10px 0 0;padding:0;font-weight:bold;color:#072A46;}
	-->
</style>
<%#= stylesheet_link_tag 'messages' %>
<div class="area">
		<% form_for(:message, :url => messages_path, :html => { :multipart => true }) do |f| -%>
	<ul>
    	<li>
			<% if @recipient_id == nil %>
			    	<label for="title" for="user">发送至：</label>
					<%= f.collection_select(:recipient_id, @users, :id, :name, options ={:prompt => "-选择收件人"}) %>
			<% else %>
		    	<label for="title">收件人：</label>
				<%= User.find_by_id(@recipient_id).name %>
				<%= f.hidden_field(:recipient_id, :value=>@recipient_id) %>	
			<% end %>
		
			
			</li>
        <li><label for="theme">主&nbsp;&nbsp;&nbsp;&nbsp;题：</label><%= f.text_field :subject, :class=>'input_field', :value=>@subject %></li>
        
      <li><label for="body">正&nbsp;&nbsp;&nbsp;&nbsp;文：</label>
        <%= f.text_area :body, :cols=>80, :rows=>5, :class=>"mceEditor" %>
      </li>
        <li><span style="display:block;padding:10px 0 5px 50px;">	<%= f.submit "Send", :class=>'btn' %>&nbsp;&nbsp;&nbsp;<%=link_to "取消",:back%></a></span></li>
    </ul>
<% end %>
</div>

