<style type="text/css">
<!--
body {font-family:"宋体";margin:0;font-size:12px;}
a {font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#002850;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;color:#002850;}
a:hover {text-decoration:underline;color:#002850;}
a:active {text-decoration:none;color:#002850;}
h1,h2,h3,p,ul,li {margin:0;padding:0;}
ul,li {list-style-type:none;list-style-images:none;}
.area {width:880px;margin:0 auto;}
.area .atitle {display:block;width:860px;height:100px;background:#F5F9FA;float:left;border-bottom:1px solid #d8d8d8;padding:10px;border: 1px solid #999;}
.area .atitle ul {width:860px;float:left;}
.area .atitle li {width:860px;line-height:23px;float:left;}
.area .cont {width:860px;float:left;}
.area .cont p {width:500px;float:left;line-height:22px;font-size:14px;padding:20px 100px;}
.area .message_footer {width:860px;float:left;background:#F5F9FA;border-top:1px solid #d8d8d8;padding:6px 10px;}
-->
</style>
<div class="area">
	<div style="width:860px;background:#F5F9FA;float:left;border-bottom:1px solid #d8d8d8;padding:10px;">
		<div style="float:left;width:96px;">
			<% if @message.sender.profile_photo %>
				<%= link_to image_tag(@message.sender.profile_photo.public_filename(:medium), :alt=>@message.sender.name), user_url(@message.sender) %>
			<% else %>
				<%= link_to @message.sender.name, user_url(@message.sender) %>
			<% end %>
		</div>
		<div style="float:left;margin-left:10px">
    	<ul>
        	<li>标&nbsp;&nbsp;题：<strong><%=@message.subject%></strong></li>
            <li>发件人：<%=link_to @message.sender.login,user_url(@message.sender),{:style=>"color:#FF6600"}%> (<%=@message.sender.email%>)</li>
            <li>时&nbsp;&nbsp;间：<%=@message.created_at.to_s(:event_brief)%> </li>
        </ul>
</div>
    </div>
    <div class="cont">
    	<%=@message.body%>
</p>
    </div>
    <div class="message_footer"><img src="/images/message_icon1.gif" border="0" /><%=link_to "返回",:back%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/message_icon2.gif" border="0" /> <%=link_to "删除",@message,:method=>:delete,:confirm=>"您确认要删除吗？"%>
		<div style="float:right;">	<% if !(@message.sender == current_user) %>
				<%=link_to "回复",new_message_path({:recipient_id=>@message.sender.id, :subject=>'RE: ' + @message.subject}) %>
			<% end %>
			<button  onclick="location.href = '<%= user_messages_path(current_user) %>'">收件箱</button></div>
		</div>
	</div>


