<%= calendar_date_select_includes :locale => 'zh',:style => 'silver' %>
<%=javascript_include_tag "swfupload","swfupload.queue","fileprogress",'swfupload.speed','swfupload.cookies'%>
<%=javascript_include_tag "handlers"%>
<style type="text/css">
<!--
body {font-family:"宋体";margin:0;font-size:12px;}
a {font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#002850;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;color:#002850;}
a:hover {text-decoration:underline;color:#002850;}
a:active {text-decoration:none;color:#002850;}
h1,h2,h3,p,ul,li {margin:0;padding:0;}
ul,li {list-style-type:none;list-style-images:none;}
.area {width:958px;border:1px #D0E1EB solid;margin:0 auto;overflow:hidden;clear:both;}
.area .atitle {width:958px;height:30px;border-bottom:1px #D0E1EB solid;background:url(/images/tab_bg1.gif) repeat-x;float:left;}
.area .atitle h1 {line-height:30px;margin:0px;padding:0px 0px 0px 30px;background:url(/images/showh1bg2.gif) 10px 6px no-repeat;font-size:14px;float:left;display:inline;color:#004575;}
.area .atitle span {line-height:30px;float:right;padding-right:20px;}
.area .cont {width:908px;float:left;padding:10px;}
.area .cont ul {width:820px;float:left;}
.area .cont li {width:820px;float:left;line-height:30px;overflow:hidden;}
.area .cont h3 {width:820px;color:#FF9400;font-size:12px;line-height:30px;}
.area .cont span {line-height:30px;}
.area li input,.area li textarea {border:1px solid #879BB3;width:200px;}
.area li label {width:230px;text-align:right;padding-right:5px;float:left;line-height:30px;} 
.area .btn {width:85px;height:32px;line-height:32px;cursor:pointer;background:url(/images/loginbg.gif) -87px -247px no-repeat;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;margin:10px 0 0;padding:0;font-weight:bold;color:#072A46;}
.hO {
padding: 1px 4px 1px 4px;
color: #222;
}
-->
</style>
<%=stylesheet_link_tag "swfupload"%>


<%session_key_name = ActionController::Base.session_options[:key]%>
<script>
	var swfu;
	window.onload = function () {
		swfu = new SWFUpload({
			// Backend Settings
			upload_url : "/meetings/fileupload",
		//	post_params: {"PHPSESSID": "<?php echo session_id(); ?>"},

			// File Upload Settings
			file_size_limit : "50 MB",	// 2MB
			file_types : "*.*",
			file_types_description : "All files",
			file_upload_limit : 20,
			file_queue_limit : 0,
		    post_params: {
		        "<%= session_key_name %>": "<%= cookies[session_key_name] %>",
		        "authenticity_token": "<%= form_authenticity_token %>"
		      },
			// Event Handler Settings - these functions as defined in Handlers.js
			//  The handlers are not part of SWFUpload but are part of my website and control how
			//  my website reacts to the SWFUpload events.
				button_image_url: "/images/XPButtonNoText_61x22.png",
				button_width: "85",
				button_height: "29",
				button_placeholder_id: "spanButtonPlaceHolder",
				button_text: '<span class="theFont">上传文件</span>',
				button_text_style: ".theFont { font-size: 13px;font-weight:bold; }",
				button_text_left_padding: 5,
				button_text_top_padding: 8,
				button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
				button_cursor: SWFUpload.CURSOR.HAND,
				
				// The event handler functions are defined in handlers.js
				// The event handler functions are defined in handlers.js
								file_queued_handler : fileQueued,
								file_queue_error_handler : fileQueueError,
								file_dialog_complete_handler : fileDialogComplete,
								upload_start_handler : uploadStart,
								upload_progress_handler : uploadProgress,
								upload_error_handler : uploadError,
								upload_success_handler : uploadSuccess,
								upload_complete_handler : uploadComplete,
								queue_complete_handler : queueComplete,	// Queue plugin event
			
			// Flash Settings
			flash_url : "../swf/swfupload.swf",
			flash9_url : "../swf/swfupload_fp9.swf",

			custom_settings : {
				progressTarget : "fsUploadProgress",
				cancelButtonId : "btnCancel"
			},
			
			// Debug Settings
			debug: false
		});
	};
</script>
<div class="area">
  <div class="atitle">
	  <h1><font color="#000000">创建新会议</font></h1><span><font color="#999999">加</font><font color="red">*</font><font color="#999999">号的为必填信息</font></span>	</div>
	<%form_for @meeting do |f|%>
    <div class="cont">
       	  <ul>
           	<li><label for="uesr"><font color="#004575">主题：</font></label>
				<%=f.text_field :title%>&nbsp;<font color="red">*</font><br />
            </li>
<!-- <li><label for="user"><font color="#004575">标签</font></label>
	<%#=f.text_field "tag_list"%>
        
</li> -->
                <li><label for="uesr"><font color="#004575">时间：</font></label>
                <%=f.calendar_date_select :start_time,:popup => "force" ,:time => false%>&nbsp;&nbsp;至&nbsp;&nbsp;<%=f.calendar_date_select :end_time,:popup => "force" ,:time => false%><font color="red">*</font></li>
            <li><label for="uesr"><font color="#004575">地点：</font></label>
              	<%=f.country_select(:country,{:only => [:china, :japan, :united_states],:update => 'meeting_state'})%>
				<%=f.states_select(:state,{:country => :china,:countries => [:china, :japan, :united_states],
				       :update => 'meeting_city'} )%>

				<%=f.city_select(:city,{:country => :china, :state => :beijing})%>
            <li><label for="uesr">主<font color="#004575">办方：</font></label>
            <%=f.text_field :zhuban%>&nbsp;<font color="red">*</font></li>
               <li><label for="uesr"><font color="#004575">协办方：</font></label>
               <%=f.text_field :xieban%>&nbsp;<font color="red">*</font></li>
               <li>
                 <label for="uesr"><font color="#004575">会议介绍：</font></label>
                 <span class="tab">
					<%=f.text_area :content,:cols=>'',:rows=>'',:style=>"width:500px;height:100px;border:1px #889BAA solid;color:#999;font-size:12px;padding:6px;"%>
                 </span>&nbsp;<font color="red">*</font></li>
               <li style="padding-top:10px;">
                 <label for="uesr"><font color="#004575">日程安排：</font></label>
                 <span class="tab">
		<%=f.text_area :richeng,:cols=>'',:rows=>'',:style=>"width:500px;height:100px;border:1px #889BAA solid;color:#999;font-size:12px;padding:6px;"%>
                 </span>&nbsp;<font color="red">*</font></li>
               <li style="padding-top:10px;">
                 <label for="uesr"><font color="#004575">主要出席人物介绍：</font></label>
                 <span class="tab">
		<%=f.text_area :chuxi,:cols=>'',:rows=>'',:style=>"width:500px;height:100px;border:1px #889BAA solid;color:#999;font-size:12px;padding:6px;"%>
                 </span>&nbsp;<font color="red">*</font></li>
               <li style="padding-top:10px;">
                 <label for="uesr"><font color="#004575">会议类别：</font></label>
                 <%=f.select("type_id", [['请选择',0],["一类会议",1],["二类会议",2]], { :include_blank => false })%>
                 &nbsp;<font color="red">*</font></li>
               <li>
                 <label for="uesr"><font color="#004575">会议所属科室：</font></label>
                 <%=f.select("keshi_id",options_for_select([['-全部病例-','0']])+grouped_options_for_select(keshi_by_groups,(current_user.keshi_id)))%>
                 &nbsp;<font color="red">*</font></li>
                 <li id='attachments'>
	<span id='upload_box'><label for="uesr"><font color="#004575">相关附件：：</font></label>
  
						<span id="spanButtonPlaceHolder"></span>
						<input id="btnCancel" type="button" value="取消全部文件" onclick="swfu.cancelQueue();" disabled="disabled" style="margin-left: 2px; font-size: 8pt; height: 29px;" />
		               	<div class="fieldset flash" id="fsUploadProgress">
									<span class="legend">上传队列</span>
									</div>
								<div id="divStatus" style="margin: 0px 236px;">0 文件已上传</div>
								
				<%#=form_tag('/upload',:multipart=>true) %>
				
				
				</span>
                </li>
 <!-- <li style="padding-left:236px;"></li> -->
                 <li style="padding-left:236px;"><%=submit_tag "完  成",:class=>'btn'%></li>
          </ul>
  </div>
<%end%>
</div>