<style type="text/css">
<!--
.area {width:930px;margin:0 auto;}
	.area .aleft {width:154px;float:left;}
	.area .acenter {width:546px;float:left;margin-left:10px;}
		.area .acenter .col1,.area .acenter .col2 {width:546px;float:left;}
			.area .acenter .col1 .atitle,.area .acenter .col2 .atitle {width:546px;height:32px;background:url(images/atitlebg3.gif) repeat-x;float:left;}
				.area .acenter .col1 .atitle h3,.area .acenter .col2 .atitle h3 {font-size:14px;color:#FD9A00;float:left;background:url(images/arrow1.gif) 10px 10px no-repeat;padding:0 20px;line-height:32px;}
			.area .acenter .col1 .acont,.area .acenter .col2 .acont {width:546px;float:left;background:#F3F3F3;margin-top:1px;}
				.area .acenter .col1 .acont .box1,.area .acenter .col2 .acont .box1,.area .acenter .col2 .acont .box2 {width:526px;float:left;padding:4px 10px}
					.area .acenter .col1 .acont .box1 h4,.area .acenter .col2 .acont .box1 h4,.area .acenter .col2 .acont .box2 h4 {width:506px;float:left;padding:0 10px;font-size:12px;line-height:26px;}
					.area .acenter .col1 .acont .box1 ul,.area .acenter .col2 .acont .box1 ul,.area .acenter .col2 .acont .box2 ul {width:506px;float:left;border:1px solid #E7EEF2;background:#fff;margin:0 auto;padding:10px;}
					.area .acenter .col1 .acont .box1 li {width:506px;float:left;line-height:24px;}
					.area .acenter .col2 .acont .box1 li {width:87px;float:left;padding:0 4px 0 8px;}
						.area .acenter .col2 .acont .box1 li img {width:87px;float:left;}
						.area .acenter .col2 .acont .box1 li p {width:87px;height:26px;line-height:26px;float:left;text-align:center;}
						.area .acenter .col2 .acont .box2 li {width:57px;float:left;padding:0 14px 0 26px;}
						.area .acenter .col2 .acont .box2 li img {width:57px;height:78px;float:left;}
						.area .acenter .col2 .acont .box2 li p {width:57px;height:26px;line-height:26px;float:left;text-align:center;}	

			
-->
</style>

<div class="area">
    <div class="aleft">
		
    	<%#=link_to image_tag('fenxiang.gif'),new_shared_resource_path%></div>
    <div class="acenter">
   	  <div class="col1">
        	<div class="atitle">
            	<h3>最新分享的资源</h3>
            </div>
            <div class="acont">
           	  <div class="box1">
               	<h4><font color="#EB6100">试题，模拟题，历年试卷</font>&nbsp;&nbsp;&nbsp;<%=link_to '更多...',list_shared_resources_path(:type => 'shiti')%></h4>
                    <ul>
						<%last_resource_by_category('shiti').each do |shiti|%>
                    	<li>·<%=link_to shiti.title,shared_resource_path(shiti)%></li>
						<%end%>
                    </ul>
              </div>
                <div class="box1">
                	<h4><font color="#EB6100">课件，多媒体资源</font>&nbsp;&nbsp;&nbsp;<%=link_to '更多...',list_shared_resources_path(:type => 'kejian')%></h4>
                    <ul>
						<%last_resource_by_category('kejian').each do |shiti|%>
                    	<li>·<%=link_to shiti.title,shared_resource_path(shiti)%></li>
						<%end%>
                    </ul>
                </div>
                <div class="box1">
                	<h4><font color="#EB6100">材料，文档</font>&nbsp;&nbsp;&nbsp;<%=link_to '更多...',list_shared_resources_path(:type => 'cailiao')%></h4>
                    <ul>
                    	<%last_resource_by_category('cailiao').each do |shiti|%>
                    	<li>·<%=link_to shiti.title,shared_resource_path(shiti)%></li>
						<%end%>
                    </ul>
                </div>
               <div class="box1">
                	<h4><font color="#EB6100">电子书</font>&nbsp;&nbsp;&nbsp;<%=link_to '更多...',list_shared_resources_path(:type => 'dianzishu')%></h4>
                    <ul>
                    	<%last_resource_by_category('dianzishu').each do |shiti|%>
                    	<li>·<%=link_to shiti.title,shared_resource_path(shiti)%></li>
						<%end%>
                    </ul>
                </div>
               <div class="box1">
                	<h4><font color="#EB6100">幻灯片，会议演讲</font>&nbsp;&nbsp;&nbsp;<%=link_to '更多...',list_shared_resources_path(:type => 'huandeng')%></h4>
                    <ul>
                    	<%last_resource_by_category('huandeng').each do |shiti|%>
                    	<li>·<%=link_to shiti.title,shared_resource_path(shiti)%></li>
						<%end%>
                    </ul>
                </div>
               <div class="box1">
                	<h4><font color="#EB6100">其他内容</font>&nbsp;&nbsp;&nbsp;<%=link_to '更多...',list_shared_resources_path(:type => 'qita')%></h4>
                    <ul>
                    	<%last_resource_by_category('qita').each do |shiti|%>
                    	<li>·<%=link_to shiti.title,shared_resource_path(shiti)%></li>
						<%end%>
                    </ul>
                </div>
            </div>
      </div>
        <div class="blank"></div>
        <!-- <div class="col1">
               	<div class="atitle">
                   	<h3>试题下载</h3>
                   </div>
                   <div class="acont">
                   	<div class="box1">
                       	<h4><font color="#EB6100">最新</font>下载试题</h4>
                           <ul>
                           	<li>·<a href="#">辉瑞因不当营销被罚23亿美元 巨额赔偿成药厂“销金窟”</a></li>
                           	<li>·<a href="#">8月求购大奖更多惊喜：价值3500元参会名额等你申请 一周求购信息汇总</a></li> 
                           	<li>·<a href="#">中国科学院公布2009年院士增选初步候选人名单 生命科学和医学学部</a></li>
                           	<li>·<a href="#">开学促销专场__免费申请“丁香通打折卡” 你喜欢的促销活动</a></li>
                           	<li>·<a href="#">陈竺部长看望南平第一医院医务人员 杭州邵逸夫医院医闹事件</a></li>
                           </ul>
                       </div>
                       <div class="box1">
                       	<h4><font color="#EB6100">最热门</font>下载试题</h4>
                           <ul>
                           	<li>·<a href="#">辉瑞因不当营销被罚23亿美元 巨额赔偿成药厂“销金窟”</a></li>
                           	<li>·<a href="#">8月求购大奖更多惊喜：价值3500元参会名额等你申请 一周求购信息汇总</a></li> 
                           	<li>·<a href="#">中国科学院公布2009年院士增选初步候选人名单 生命科学和医学学部</a></li>
                           	<li>·<a href="#">开学促销专场__免费申请“丁香通打折卡” 你喜欢的促销活动</a></li>
                           	<li>·<a href="#">陈竺部长看望南平第一医院医务人员 杭州邵逸夫医院医闹事件</a></li>
                           </ul>
                       </div>
                       <div class="box1">
                       	<h4><font color="#EB6100">分享最多</font>下载试题</h4>
                           <ul>
                           	<li>·<a href="#">辉瑞因不当营销被罚23亿美元 巨额赔偿成药厂“销金窟”</a></li>
                           	<li>·<a href="#">8月求购大奖更多惊喜：价值3500元参会名额等你申请 一周求购信息汇总</a></li> 
                           	<li>·<a href="#">中国科学院公布2009年院士增选初步候选人名单 生命科学和医学学部</a></li>
                           	<li>·<a href="#">开学促销专场__免费申请“丁香通打折卡” 你喜欢的促销活动</a></li>
                           	<li>·<a href="#">陈竺部长看望南平第一医院医务人员 杭州邵逸夫医院医闹事件</a></li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="blank"></div>
             <div class="col2">
               	<div class="atitle">
                   	<h3>视频下载</h3>
                   </div>
                   <div class="acont">
                  	  <div class="box1">
                       	<h4><font color="#EB6100">最新</font>下载视频</h4>
                           <ul>
                           	<li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                               <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                               <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                               <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                               <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                           </ul>
                     </div>
                       <div class="box1">
                       	<h4><font color="#EB6100">最热</font>下载视频</h4>
                           <ul>
                           	<li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                               <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                               <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                               <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                               <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                           </ul>
                       </div>
                       <div class="box1">
                       	<h4><font color="#EB6100">分享最多</font>下载视频</h4>
                           <ul>
                           	<li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                               <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                               <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                               <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                               <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                           </ul>
                       </div>
                   </div>
             </div> -->
        <div class="blank"></div>
        <div class="col2">
        	<div class="atitle">
            	<h3>热门书籍</h3>
            </div>
            <div class="acont">
            	<div class="box2">
                	<h4><font color="#EB6100">最新</font>下载书籍</h4>
                    <ul>
                    	<li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                    </ul>
                </div>
                <div class="box2">
                	<h4><font color="#EB6100">最热</font>下载书籍</h4>
                    <ul>
                    	<li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                    </ul>
                </div>
                <div class="box2">
                	<h4><font color="#EB6100">分享最多</font>下载书籍</h4>
                    <ul>
                    	<li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blank"></div>
      <!-- <div class="col1">
        	<div class="atitle">
           	  <h3>其它下载</h3>
            </div>
            <div class="acont">
           	  <div class="box1">
                    <ul>
                    	<li>·<a href="#">辉瑞因不当营销被罚23亿美元 巨额赔偿成药厂“销金窟”</a>&nbsp;<span style="color:#999;">[种类名称]</span></li>
                    	<li>·<a href="#">8月求购大奖更多惊喜：价值3500元参会名额等你申请 一周求购信息汇总</a>&nbsp;<span style="color:#999;">[种类名称]</span></li> 
                   	  <li>·<a href="#">中国科学院公布2009年院士增选初步候选人名单 生命科学和医学学部</a>&nbsp;<span style="color:#999;">[种类名称]</span></li>
                    </ul>
              </div>
            </div>
      </div> -->
        
    </div>
    <%= render :partial => 'shared_resource_sidebar' %>

</div>