<%=javascript_include_tag "swfupload","swfupload.queue","fileprogress",'swfupload.speed'%>
<%=javascript_include_tag "handlers",'handler_shared_resources'%>
<%=stylesheet_link_tag "swfupload"%>
<style type="text/css" media="screen">
.area {width:958px;border:1px #D0E1EB solid;margin:0 auto;overflow:hidden;clear:both;}
.area .atitle {width:958px;height:30px;border-bottom:1px #D0E1EB solid;background:url(/images/tab_bg1.gif) repeat-x;float:left;}
.area .atitle h1 {line-height:30px;margin:0px;padding:0px 0px 0px 30px;background:url(/images/showh1bg2.gif) 10px 6px no-repeat;font-size:14px;float:left;display:inline;color:#004575;}
.area .atitle span {line-height:30px;float:right;padding-right:20px;}
.area .cont {width:908px;float:left;padding:10px;}
.area .cont ul {width:820px;float:left;}
.area .cont li {width:820px;float:left;line-height:30px;overflow:hidden;}
.area .cont h3 {width:820px;color:#FF9400;font-size:12px;line-height:30px;}
.area .cont span {line-height:30px;}
.area li input {border:1px solid #879BB3;width:200px;}
.area li textarea{border:1px solid #879BB3;width:500px;}
.area li label {width:230px;text-align:right;padding-right:5px;float:left;line-height:30px;} 
.area .btn {width:85px;height:32px;line-height:32px;cursor:pointer;background:url(/images/loginbg.gif) -87px -247px no-repeat;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;margin:10px 0 0;padding:0;font-weight:bold;color:#072A46;}
.hO {
padding: 1px 4px 1px 4px;
color: #222;
}
</style>
<%session_key_name = ActionController::Base.session_options[:key]%>
<script>
	var swfu;
	window.onload = function () {
		swfu = new SWFUpload({
			// Backend Settings
			upload_url : "/shared_resources/fileupload",
		//	post_params: {"PHPSESSID": "<?php echo session_id(); ?>"},

			// File Upload Settings
			file_size_limit : "60 MB",	// 2MB
			file_types : "*.*",
			file_types_description : "All files",
			file_upload_limit : 30,
			file_queue_limit : 0,
		    post_params: {
		        "<%= session_key_name %>": "<%= cookies[session_key_name] %>",
		        "authenticity_token": "<%= form_authenticity_token %>"
		      },
			// Event Handler Settings - these functions as defined in Handlers.js
			//  The handlers are not part of SWFUpload but are part of my website and control how
			//  my website reacts to the SWFUpload events.
				button_image_url: "/images/XPButtonNoText_61x22.png",
				button_width: "85",
				button_height: "29",
				button_placeholder_id: "spanButtonPlaceHolder",
				button_text: '<span class="theFont">上传文件</span>',
				button_text_style: ".theFont { font-size: 13px;font-weight:bold; }",
				button_text_left_padding: 5,
				button_text_top_padding: 8,
				button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
				button_cursor: SWFUpload.CURSOR.HAND,
				
				// The event handler functions are defined in handlers.js
				// The event handler functions are defined in handlers.js
								file_queued_handler : fileQueued,
								file_queue_error_handler : fileQueueError,
								file_dialog_complete_handler : fileDialogComplete,
								upload_start_handler : uploadStart,
								upload_progress_handler : uploadProgress,
								upload_error_handler : uploadError,
								upload_success_handler : uploadSuccess,
								upload_complete_handler : uploadComplete,
								queue_complete_handler : queueComplete,	// Queue plugin event
			
			// Flash Settings
			flash_url : "/swf/swfupload.swf",
			flash9_url : "/swf/swfupload_fp9.swf",

			custom_settings : {
				progressTarget : "fsUploadProgress",
				cancelButtonId : "btnCancel"
			},
			
			// Debug Settings
			debug: false
		});
	};
</script>
<div class="area">
	  <%= error_messages_for :shared_resource,:header_message=>"请重试！",:message=>"在建立资源时出现了一些问题：",:class=>"validation" %>
  <div class="atitle">
	  <h1><font color="#000000">请填写资源信息</font></h1><span><font color="#999999">加</font><font color="red">*</font><font color="#999999">号的为必填信息</font></span>	</div>
	<%form_for @shared_resource do |f|%>
    <div class="cont">
       	  <ul>
           	<li><label for="uesr"><font color="#004575">主题：</font></label>
				<%=f.text_field :title%>&nbsp;<font color="red">*</font><br>
            </li>
			<li><label for="uesr"><font color="#004575">分类：</font></label>
				<%=f.select :category,options_for_select([['--请选择－－',''],['电子书','dianzishu'],['试题','shiti'],['材料','cailiao'],['幻灯片','huandeng'],['课件','kejian'],['其他','qita']],f.object.category)%>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#004575">相关科室：<%=f.select("keshi_id",grouped_options_for_select(keshi_by_groups,(f.object.keshi_id==0 ? current_user.keshi.id : f.object.keshi_id)))%></font></li>
			<li><label for="uesr"><font color="#004575">标签：</font></label>
				<%=f.text_field :tag_list,:placeholder => '-多个标签请逗号分隔-'%>&nbsp;<font color="red">*</font></li>
<!-- <li><label for="user"><font color="#004575">标签</font></label>
	
        
</li> -->
             <li><label for='description'>资源介绍：</label><%=f.text_area :description,:cols => 9,:rows => 10%></li>
		                 <li id='attachments'>
			<span id='upload_box'><label for="uesr"><font color="#004575">相关附件：：</font></label>
				<span style='float:left;margin-bottom:20px;'><%f.fields_for :shared_files do |sf|%>
				<p>	<%=sf.object.file_file_name%>&nbsp;&nbsp;&nbsp;&nbsp;<%=link_to_function 'X删除',"this.next(\"input[type='hidden']\").setValue(1);this.up().hide();"%><%=sf.hidden_field :_destroy%></p>
				<%end%></span><div style='clear:both;'></div>
								<span style='margin-left:240px;'></span><span id="spanButtonPlaceHolder"></span>
								<input id="btnCancel" type="button" value="取消全部文件" onclick="swfu.cancelQueue();" disabled="disabled" style="margin-left: 2px; font-size: 8pt; height: 29px;" />
				               	<div class="fieldset flash" id="fsUploadProgress">
											<span class="legend">上传队列</span>
											</div>
										<div id="divStatus" style="margin: 0px 236px;">0 文件已上传</div><font style='margin-left:230px;'>(单个文件不能大于60M，总文件大小不能超过100M，如大于100M，请联系管理员。)</font>

						<%#=form_tag('/upload',:multipart=>true) %>


						</span>
		                </li>
 <!-- <li style="padding-left:236px;"></li> -->
                 <li style="padding-left:236px;"><%=f.submit '完成',:class => 'btn'%></li>
          </ul>
<%end%>
  </div>
</form>
</div>