<style type="text/css">
<!--
.area {width:930px;margin:0 auto;}
	.area .aleft {width:766px;float:left;}
		.area .aleft .atitle {width:766px;height:32px;background:url(/images/atitlebg3.gif) repeat-x;float:left;}
			.area .aleft .atitle h3 {font-size:14px;color:#FD9A00;float:left;background:url(/images/arrow1.gif) 10px 10px no-repeat;padding:0 20px;line-height:32px;}
		.area .aleft .acont {width:764px;float:left;border:1px solid #ECEDEF;}
			.area .aleft .acont .box1,.area .aleft .acont .box2 {width:744px;float:left;padding:10px;}
			.area .aleft .acont .box2 {background:#F4F9FF;}
				.area .aleft .acont .box1 .bleft {float:left;padding:0 10px;}
					.area .aleft .acont .box1 .bleft p {clear:both;line-height:26px;float:left;}
					.area .aleft .acont .box1 .bleft img {border:3px solid #D9EAF4;float:right;margin:0 10px;display:block;}
				.area .aleft .acont .box2 p {clear:both;line-height:26px;padding:0 10px;}	
	.area .aright {width:154px;float:right;}
		.area .aright .col1,.area .aright .col2 {width:154px;float:left;}
			.area .aright .col2 .btn {width:71px;height:28px;line-height:32px;cursor:pointer;background:url(/images/btn_ziliao.gif) no-repeat;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;margin:10px 0 0;padding:0;font-weight:bold;color:#072A46;}
			.area .aright .col2 input {border:1px solid #879BB3;width:150px;margin:0;}

-->
</style>
<div class="area">
	<div class="aleft">
    	<div class="atitle"><h3><%=@shared_resource.title%></h3>
		 <span style='width:170px;float:right;padding:6px 10px;line-height:17px;'> 
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style ">
			<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=zhu1230" class="addthis_button_compact">共享</a>
			<span class="addthis_separator">|</span>
			<a class="addthis_button_email"></a>
			<a class="addthis_button_print"></a>
			<a class="addthis_button_gmail"></a>
			<a class="addthis_button_google"></a>
			<a class="addthis_button_baidu"></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
			<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=zhu1230"></script>
			<!-- AddThis Button END -->


	        </span></div>
        <div class="blank"></div>
        <div class="acont">
       	  <div class="box1">
            	<div class="bleft">
                	<p><b>属&nbsp;&nbsp;&nbsp;&nbsp;性：</b><font color="#FF9900">资料</font></p>
                	<p><b>大&nbsp;&nbsp;&nbsp;&nbsp;小：</b><%total_size=0;@shared_resource.shared_files.each{|sf|total_size+=sf.file_file_size};concat (total_size/1024).to_s+'KB'%></p>
                	<p><b>发布时间：</b><%=@shared_resource.created_at%></p>
                	<p><b>发&nbsp;布&nbsp;人：</b><font color="#24A5C5"><%=link_to @shared_resource.user.login,user_path(@shared_resource.user)%></font></p>
                	<p><b>下载次数：</b><%=@shared_resource.down_count || 0%>次</p>
                    <!-- <img src="/images/img3.gif" /> -->
                </div>
          </div>
            <div class="box2">
              <p><b>文件介绍：</b></p>
                <p style="color:#696969;"><%=@shared_resource.description%></p>
          </div>
            <div class="box1"><%=link_to image_tag("/images/xiazai.gif",:alt =>"开始下载" ),download_shared_resource_path(@shared_resource)%>&nbsp;<!-- <a href="#"><img src="/images/fenxiang.gif" alt="我要分享" width="154" height="51" /></a> --></div>
        </div>
    </div>
    <div class="aright">
    	<div class="col1"><%=link_to image_tag("/images/fabu2.gif",:alt=>"我要发布"),new_shared_resource_path%></div>
        <div class="blank"></div>
        <div class="col2"><input name="" type="text" /><input type="button" class="btn" value="搜索资料" /></div>
    </div>
</div>