<h1>User::Personal#index</h1>
|<%=link_to "我的短信息", inbox_url%>|
<p>用户名：<%=@user.login%></p>
<p>用户组：<%=@user.show_role%></p>
<p>昵称：<%=@user.nickname%></p>
<p>电子邮件：<%=@user.email%></p>
<p>注册时间：<%=@user.created_at%></p>
<p>积分:<%=@user.jifen%></p>
<p>发表病例讨论数目<%=@user.bingli_infos.size%>篇</p>
<p>讨论帖子数<%=@user.bingli_comments.size%></p>
<p>性别<%=@user.sex%></p>
<p>Find me in app/views/user/personal/index.html.erb</p>
