<%= stylesheet_link_tag 'photo_manager' %>

<%= link_to '添加照片', new_photo_path %>
<br/>
<%= link_to '新建相册', new_photo_album_path %>

<br/><br/>

<div id="albums_and_photos">
	<div id="albums_table">
		<% @albums.each do |album| %>
			<%= render :partial => 'photo_albums/album_brief', :locals=>{:album=>album} %>
		<% end %>
	</div>
	
	<br/><br/>
	
	<div id="photos_table">
		<% @photos_outside_album.each do |photo| %>
			<%= render :partial => 'photos/photo_brief', :locals=>{:photo=>photo} %>
		<% end %>
	</div>
</div>

<br/><br/>

