<div style="margin:0 auto;">

<% form_for(@blog_post, :html => { :multipart => true }) do |f| -%>			
	<%= f.error_messages %>
	<div class="form_field">
    	<label for="title">博文标题:</label><br/>
		<%= f.text_field :title, :class=>'input_field' %>
	</div>
	<div class="form_field">
    	<label for="body">内 容:</label>
		<span class="help_text">最多两千字</span><br/>
		<%= f.text_area :body, :cols=>80, :rows=>30, :class=>"mceEditor" %>
	</div>
	
	<div class="form_field">
		<label for="topics">分类:</label><br/><br/><%="无" if @blog_post_topics.blank?%>
		<% @blog_post_topics.each do |topic| %>
			<%= check_box_tag(
                            "blog_post[blog_post_topic_list][#{topic.id}]", 
                            "1", 
                            @blog_post.blog_post_topics.detect{|d| d == topic}) %>
			<%= "#{topic.name}"%><br />

		<% end %>
		<div id="create_topic">
			<%= link_to 'Create a new topic', 'javascript:show_blog_topic_field()' %>
			<div id="blog_post_topic_field" style="display:none;">
				<input type="text" id="blog_post_topic_entry" name="blog_post_topic_entry" />
				<%= link_to 'Save', 'javascript:save_blog_topic()' %>
			</div>
		</div>
	</div>
	
	<div class="form_field">
    	<label for="tags">标签:</label><br/>
		<%= f.text_field :tag_list, :class=>'input_field' %>
	</div>
	<div class="form_field">
    	<label for="published">Publish:</label>
		<%= f.check_box :published, :class=>'checkbox_input', :checked=>'checked' %>
		<span class="help_text">Important!  Uncheck this if you want to save the post as a draft.</span>
	</div>
    <%= f.submit "发表", :class=>'add_button',:disable_with=>"保存中......" %>&nbsp;&nbsp;
<% end %></div>