<%=render :partial => "blog_menu"%>
<%= stylesheet_link_tag 'blogs' %>
	
<div style="width:230px;float:left;padding:10px;border:1px solid #B8C6C6;margin-top:20px">
	<% if @blog_post.user.profile_photo %>
		<%= link_to image_tag(@blog_post.user.profile_photo.public_filename(:medium), :alt=>@blog_post.user.name), user_url(@blog_post.user) %>
	<% end %>	
</div>
<div style="width:670px;float:right;border:1px solid #B8C6C6;margin-top:20px;margin-left:20px">
	<div id='blog_nav' style="height:20px;"></div>
	<div id='blog_title' style="height:100px;"><h1><%= link_to @blog_post.title, blog_post_path(@blog_post) %></h1>
	Posted by <%= @blog_post.user.name %> at <%= @blog_post.created_at %>
			<b>Tags:</b> <%= @blog_post.tag_list %></div>
	<div id='blog_body'>	<%= @blog_post.body %></div>
	<div id='blog_nav'></div>
	<div id='blog_bottom'></div>
<div id='comments'><%= render :partial => 'blog_post_comments' %></div>
	
	
		
			

		<%= render :partial => 'blog_post_comment_form' %>

</div>

		<% if current_user == @blog_post.user %>
			<div class="blog_post_edit_link">
				<%= link_to 'Edit Post', edit_blog_post_path(@blog_post) %>
				<% if !@blog_post.published %>
					&nbsp;&nbsp;
					<%= link_to 'Publish', "/blog_posts/publish/#{@blog_post.id}" %> 
				<% end %>
			</div>
		<% end %>




