<%#= stylesheet_link_tag 'blogs' %>
<style type="text/css" media="screen">
	.blogs{width:720px;margin: 20px auto;float:left;}
	.blog{width:720px;margin-bottom: 10px;float:left;padding-left: 20px;}
	.author_info{float: left;padding:10px;clear:both;}
	.blog_content{margin: 10px auto;display:block;width:550px;word-break:break-all;}
	.blog_info{background-color: #F3F9FD;height:20px;float:left;width:660px;margin:auto 0px;padding-top: 5px;}
	.blog_bar{margin-top: 20px;width:214px;float:left;overflow:hidden;border: 1px solid #D7E4EA;}
	.blog_bar h2{color:#EC8115;font-size:14px;height:30px;line-height:30px;border-bottom:1px solid #d8d8d8;padding-left:10px;;margin:0px 10px;}
	.css1 { font-size: 1.0em;}
	  .css2 { font-size: 1.2em; }
	  .css3 { font-size: 1.4em; }
	  .css4 { font-size: 1.6em; }
</style>
<%=render :partial => "blog_menu"%>
<div class="blogs">
	<% for blog_post in @blog_posts %>
		<%#= render :partial => 'blog_post_brief', :locals=>{:blog_post=>blog_post} %>

	<div class="blog">
		<div style="margin:20px 0px 6px 0px;word-break:break-all;width:480px"><span><%=link_to blog_post.title,blog_post_path(blog_post),{:style=>"font-size:20px;"}%></span></div>
		<div style='color:#FF3B01'>标签:<%=blog_post.tag_list%></div>
		<div style="width:700px;float:left;display:inline;"><div class="author_info"><%=link_to image_tag(blog_post.user.photo.public_filename(:thumb),{:size=>"50x50",:title=>blog_post.user.login+"的博客"}),user_blog_posts_path(blog_post.user)%></div>
		<div class="blog_content"><%=h blog_post.body[0...200]%></div></div>
		<div class="blog_info"><span style="float:left;width:90px;padding-left:20px;"><%=link_to blog_post.user.login,user_path(blog_post.user)%></span><span style="background-image: url(/images/icon_comment.gif);background-repeat: no-repeat;padding-left:20px">评论(<%=blog_post.comments.size%>)</span><span style="margin-left:30px;background-image: url(/images/icon_arrow.gif);background-repeat: no-repeat;padding-left:20px">有<%=blog_post.views%>人浏览</span></div>
	</div>
		<% end %>
</div>

<div id='bars' style="width:214px;float:right;display:block;margin-right:20px;">
	<div  class="blog_bar">
	<h2>最近发表</h2>
		<ul style="width:194px;float:left;line-height:22px;padding:6px 0;margin:0 0 0 16px;">
			<%BlogPost.find(:all,:limit=>10,:order=>"created_at").each do |bp|%>
			<li style="word-break:break-all;">
				<%=link_to bp.title,blog_post_url(bp)%>
			</li>
			<%end%>
		</ul>
</div>
<div  class="blog_bar">
	<h2>热门标签</h2>
	<div style="padding:10px"><%unless BlogPost.tag_counts.blank?  %><% tag_cloud BlogPost.tag_counts, %w(css1 css2 css3 css4) do |tag, css_class| %>
	    <%= link_to tag.name,tagged_source_path('blog_posts',tag.id), :class => css_class %>
	  <% end%><%end%></div>
</div></div>
	<div class="page_controls"><%= will_paginate @blog_posts,:class=>"apple_pagination" %><br/></div>

<% if logged_in? && @user == current_user %>
	<div id="blogs_table_header" style="width:960;margin:auto">
		<% if @drafts_exist %>
			<button id="show_drafts_btn" onclick="javascript:show_blog_drafts()">Show Drafts</button>
		<% else %>
			You currently have no drafts saved.
		<% end %>
	</div>
<% end %>

<div style="clear:both;"></div>
