<%#= stylesheet_link_tag 'blogs' %>
<style type="text/css" media="screen">
	.blogs{width:940px;margin: 10px auto;}
	.blog{width:900px;height:100px;	margin: 40px auto;border-bottom: 1px solid #999;}
	.author_info{float: left;}
	.blog_content{margin: 10px auto;}
	.blog_info{}
</style>
<%=render :partial => "blog_menu"%>
<div class="blogs">
	<% for blog_post in @blog_posts %>
		<%#= render :partial => 'blog_post_brief', :locals=>{:blog_post=>blog_post} %>

	<div class="blog">
		<div class="author_info"><%=link_to image_tag(blog_post.user.photo.public_filename(:thumb),{:size=>"50x50",:title=>blog_post.user.login+"的博客"}),user_blog_posts_path(blog_post.user)%></div>
		<div class="blog_content"><%=blog_post.body[1...200]%></div>
		<div class="blog_info"></div>
	</div>
		<% end %>
</div>
	<div class="page_controls"><%= will_paginate @blog_posts,:class=>"apple_pagination" %><br/></div>
<% if @user %>
	<h2 style="width:100%;">Blog Posts for <%= @user.name %> (<%= @blog_post_count.to_s %>)</h2>
<% else %>
	<h1 style="width:100%;">All Blog Posts (<%= @blog_post_count.to_s %>)</h1>
<% end %>

<% if logged_in? && @user == current_user %>
	<div id="blogs_table_header" style="width:960;margin:auto">
		<% if @drafts_exist %>
			<button id="show_drafts_btn" onclick="javascript:show_blog_drafts()">Show Drafts</button>
		<% else %>
			You currently have no drafts saved.
		<% end %>
	</div>
<% end %>

<div style="clear:both;"></div>
