<% form_for(@group, :html => { :multipart => true }) do |f| -%>		
	<%= f.error_messages %>
	<% if defined? admin_page %>
		<input type="hidden" name="admin_page" value="1" />
	<% end %>
	<div class="section_title">圈子信息</div>
	<div class="form_field">
    	<label for="name">名称:</label>
		<%= f.text_field :name, :class=>'input_field' %>
	</div>
	<div><label>标签:</label>
		<%=f.text_field :tag_list%></div>
	<div class="form_field">
    	<label for="photo">图片:</label>
		<% if (@group.photo) %>
				<%= image_tag(@group.photo.url(:thumb)) %>
		<% end %>
		<%= file_field_tag :photo, :class=>'group_photo_field' %>
	</div>
	<div class="form_field">
    	<label for="description">描述:</label>
		<%= f.text_area :description, :cols=>40, :rows=>10, :class=>"mceEditor" %>
	</div>
	<% if @show_full %>
		<div class="form_field">
	    	<label for="description">Announcements:</label>
			<%= f.text_area :announcements, :cols=>40, :rows=>10, :class=>"mceEditor" %>
		</div>
	<% end %>
	<div class="form_field">
    	<%= f.submit "建立圈子", :class=>'add_button' %>
  	</div>
<% end %>