<%= stylesheet_link_tag 'profile' %>


<div id="members_links">
	<% if logged_in? %>
		<div id="members_all"><%= link_to "All Members", users_path %></div>
		<div id="members_my"><%= link_to 'My Friends', user_friends_path(current_user) %></div>
	<% end %>
</div>
<h1>All Members (<%= @user_count %>)</h1>

<div id="users_table_header">
	<div id="sort">
		<label for="sort_by">Sort by:</label>
		<select id="sort_users_sel" onchange="sort_users()">
			<% if @sort_field == 'created_at' %>
				<option value="created_at" selected="selected">Recently Added</option>
				<option value="last_name">Alphabetical</option>
			<% else %>
				<option value="created_at">Recently Added</option>
				<option value="last_name" selected="selected">Alphabetical</option>
			<% end %>
		</select>
	</div>
</div>
<div id="users_table">
	<div class="page_controls"><%= will_paginate @users %><br/></div>
	<% for user in @users %>
		<%= render :partial => 'user_brief', :locals=>{:user=>user} %>
	<% end %>
	<div class="page_controls"><%= will_paginate @users %></div>
</div>
