<%= stylesheet_link_tag 'showone.css' %>
<style type="text/css" media="screen">
	.user_show{
		width:960px;
		margin:0px auto;
		float:left;
	}
	.tab1{
/*		width:100%;*/
/*		height:400px;*/
		float:left;
		background-color:#CCC;
		padding:20px 20px;
		height:300px;
		
	}
	.avatar{
		width:200px;
		padding:10px;
		float:left;
		text-align   :center;
	}
	.info{
		width:310px;
		float:left;
		margin-top:20px;
	}
	.info li{
		line-height:33px;
		font-size:18px;
	}
	.user_intro{
		float:left;
		margin-left: 20px;
		background-color: #C0C0C0;
		width:100%;
		height:100%;
	}
	.tab2{
		width:100%;
		float:left;
		margin:0px auto;
		margin-top:30px;
	}
	.bingli_list{
		margin:0px auto;
		width:850px;
	}
	.ar {
	text-align: right;
	}
	.summarycount {
	text-align: center;
	color: #808185;
/*	font-size: 350%;*/
	font-weight: bold;
	}
	.summary-header {
	vertical-align: middle;
	padding-left: 10px;
	}
</style>
<div class='user_show'>
	<div id='user_tab1' class='tab1'>
		<span class='avatar'>
			<%=image_tag @user.avatar.url,{:style => 'margin:0px auto;'}%><br>
			<h1 style='margin-top:15px;'>积分值：<%=@user.karma%></h1>
			<h2 style='line-height:37px;'>被浏览<%=@user.page_views%>次</h2>
		</span>
		<span class='info'>
			<li>用户名： <%=@user.login%></li>
			<li>所属科室：<%=@user.keshi.name%></li>
			<li>登录次数：<%=@user.login_count%></li>
			<li>注册时间：<%=@user.created_at.to_s(:basic)%></li>
			<li>最近登录时间：<%=@user.last_seen_at.nil? ? @user.created_at.to_s(:basic) : @user.last_seen_at.to_s(:basic)%></li>
			<li><%=image_tag 'email.png'%><%=link_to '给我发消息',new_user_message_path(@user)%></li>
			<li><%=image_tag 'twitter_follow_me_24.png'%>
				<span id='follow_me'>
			<%if logged_in? && current_user.following?(@user)%>
				<%= render :partial => 'followed' ,:locals => {:user => @user} %>

				<%else%>
			<%= render :partial => 'unfollow',:locals => {:user => @user }%>
			<%end%>
				</span></li>
		</span>

	</div>
	<div id='user_intro' class='tab1' style='margin-left:20px;width:330px;'><span>
		<h2>个人说明：</h2>
		<p style='padding:10px 10px;font-size:16px;OVERFLOW-Y:scroll;border:0px solid;height:250px;'><%=@user.about_me%></p>
	</span></div>
	<div class='tab2'>
		<a name="tab-top"></a>
		<div id='bingli_infos'><div id="answers-header">
			        <div class="subheader answers-subheader">
			            <h1 class='summary-header'>病例(<span class='summarycount'><%=@bingli_infos.total_entries%></span>)：</h1>
			            <div id="tabs">
				<%=link_to '发表的病例',user_path(@user),({:class => 'youarehere'} if params[:tap].nil?)%>
				<%=link_to '收藏的病例',user_path(@user,:tap => :favorite),({:class => 'youarehere'} if params[:tap]=='favorite')%>
				<%#=link_to '参与讨论的',user_path(@user,:tap => :involved)%>
			            </div>
			        </div>
			    </div>
			
		<div class='bingli_list'>
			<%=render 'biz/bingli_infos/bingli_info_simple_list',:bingli_infos => @bingli_infos,:search => false%>
			<div style='float:right;margin-top:20px;'><%=will_paginate @bingli_infos,:param_name => 'page_bi',:class=>"digg_pagination"%></div>
		</div>
		</div>
		
		
		<a name="bc-top"></a>
		<div id='bingli_comments'><div style='clear:both;'><h1 class='summary-header'>发表的讨论(<span class='summarycount'><%=@user.bingli_comments.size%></span>)：</h1></div>
		<div class='bingli_list' style='padding-left:30px;'>
			<%=render 'biz/bingli_comments/bingli_comment_simple_list',:param_name => 'page_bc',:bingli_comments =>@bingli_comments %>
			<div style='float:right;margin-top:20px;'><%=will_paginate @bingli_comments,:param_name => 'page_bc',:class=>"digg_pagination"%></div>
		</div>
		</div>
		
		<div id='tags'><div style='clear:both;'><h1 class='summary-header'>相关的标签(<span class='summarycount'><%=@user.owned_tags.size%></span>)：</h1></div>
		<div class='bingli_list' style='padding:20px 0px 0px 30px;'>
			<%=render 'tags/tags_list',:param_name => 'page_bc',:tags =>@tags %>
			<div style='float:right;margin-top:20px;'><%=will_paginate @tags,:param_name => 'page_tags',:class=>"digg_pagination"%></div>
		</div>
		</div>
		
		<div style='clear:both;'><h1 class='summary-header'>投票(<span class='summarycount'><%=@user.vote_count%></span>)：</h1></div>
		<div class='bingli_list' style='padding:20px 0px 0px 30px;'>
			<div class="vote" style='width:80px;float:left;'><span class="vote-up-on">支持</span><span class="vote-count-post" title="此用户头赞成支持的次数"><%=@user.vote_count(true)%></span><span class="vote-down-off" style="cursor:default"></span></div>
			<div class="vote" style='width:80px;float:left;'><span class="vote-up-off">反对</span><span class="vote-count-post" title="此用户投无用反对的次数"><%=@user.vote_count(false)%></span><span class="vote-down-on" style="cursor:default"></span></div>
			
		</div>
	</div>
</div>	

<div style="clear:both;"></div>
<script type="text/javascript" charset="utf-8">
	new Effect.Corner('user_tab1', "30px;cc:#ffffff");
	new Effect.Corner('user_intro', "30px;cc:#ffffff");
</script>