<%= stylesheet_link_tag 'profile' %>
	
<div class="col1">
	<div class="profile">
		<div class="column_1">
			<div id="user_photo" class="user_profile_section">
				<% if (@user.avatar) %>
					<%= image_tag(@user.avatar.url()) %>
				<% else %>
					<div class="no_photo_member"></div>
				<% end %>
			</div>
			<div id="user_detail" class="user_profile_section">
				<%= render :partial => 'user_detail_widget' %>
			</div>
			<div id="user_friends" class="user_profile_section">
				<%= render :partial => 'friends/friends_widget' %>
			</div>
			<div id="col_1_widgets"></div>
		</div>
		<div class="column_2">
			<div id="col_2_widgets"></div>
			<% if @user.twitter_id && @user.display_tweets %>
				<%= render :partial => 'tweets/display_tweets' %>
			<% end %>
			<%= render :partial => 'shared/wall_posts_widget', :locals=>{:parent=>@user} %>
		</div>
	</div>
</div>
<div class="col2">
	<%= render :partial => 'users/add_friend_widget' %>
	<%= render :partial => 'users/user_control_widget' %>
	<% if current_user == @user %>
		<%= render :partial => 'messages/unread_messages_widget' %>
	<% end %>
	<div id="col_3_widgets"></div>
</div>
<div style="clear:both;"></div>