<div class="mainnav" style="height:33px;">
	<ul>
		
	<li class="index <%="current" if controller.controller_name=="home"%>"><img src="/images/navindexcurrent.gif" width="15" height="15" style="margin-top:3px;"/> <%=link_to "首页",index_url%></li>
	    <li class="index <%="current" if %w{bingli_infos bingli_comments}.include?(controller.controller_name) && !%w{search query}.include?(controller.action_name)%>"><img src="/images/user_comment.png" width="10" height="15" style="margin-top:3px;"/> <%=link_to "病例讨论",biz_bingli_infos_url%></li>
	
	<li class="index <%="current" if controller.controller_name=="tags"%>"><img src="/images/navindexcurrent5.gif" width="15" height="15" style="margin-top:3px;"/> <%=link_to "分类标签",tags_path%></li>
	    <li class="index <%="current" if controller.controller_name=="bingli_infos" && %w{search query}.include?(controller.action_name)%>"><img src="/images/search-32.png" width="16" height="15" style="margin-top:3px;"/> <%=link_to "病例搜索",search_biz_bingli_infos_url%><%#=link_to "经验交流",forum_topics_url%></li>
    <!-- <li class="index <%#="current" if controller.controller_name=="meet"%>"><img src="/images/navindexcurrent2.gif" width="17" height="15" style="margin-top:3px;"/> <%#=link_to "学术会议",{:controller=>"/meet",:action=>"index"}%></li> -->
<li class="index <%="current" if controller.controller_name=="users"%>"><img src="/images/navindexcurrent4.gif" width="15" height="15" style="margin-top:3px;"/> <%=link_to "医生列表",users_path%><%#=link_to "医生博客",blog_posts_url%></li>

   <!-- <li class="index  <%#="current" if controller.controller_name=="groups"%>"><img src="/images/navindexcurrent3.gif" width="15" height="15" style="margin-top:3px;"/> <%#=link_to "医生圈子",groups_url%></li>
  				<li class="index  <%#="current" if controller.controller_name=="events"%>"><img src="/images/navindexcurrent2.gif" width="15" height="15" style="margin-top:3px;"/> <%#=link_to "医生活动",events_url%></li> -->

					

		<%# if logged_in?%>
		 <!-- <li class="index"><img src="/images/navindexcurrent3.gif" width="15" height="15" style="margin-top:3px;"/> <%#=link_to "个人信息", user_path(current_user)%></li>
							<li class="index"><img src="/images/navindexcurrent3.gif" width="15" height="15" style="margin-top:3px;"/> <%#=link_to "医生圈子",{:controller=>"/groups",:action=>"index"}%></li> -->
				
					<li class="index <%="current" if controller.controller_name=="bug_reports"%>"><img src="/images/Question.png" width="15" height="15" style="margin-top:3px;"/> <%=link_to "问题及建议",new_bug_report_url%></li>
					<li class="index" style='float:right;background-color:#BAD5FF;padding:4px 5px 0px 5px;'><img src="/images/add_16.png" width="15" height="15" style="margin-top:3px;"/> <%=link_to "我要发表病例",new_biz_bingli_info_path%></li>	
			<%#end%>	  
				<!-- <li class="index"><img src="/images/navindexcurrent3.gif" width="15" height="15" style="margin-top:3px;"/> <%#=link_to "问题或者建议",bug_reports_url%></li> -->
			
			      <!-- <li class="search" style="padding-left:45px;"><input name="" type="text" style="width:80px;border:1px #ccc solid;" /><input name="提交" type="submit" value="查找病例"class="headersearch" /> 
			                  <a href="#">帮助</a>│<a href="#">注册</a> </li> -->
			    </ul>
			</div>
			
			
<div id='menu_sub' style="display:none;"><%=render :partial=>"shared/top_sub"%></div>