<div class="header">
  <div class="logo"><img src="/images/top/logo.gif" /></div>
    <div class="topnav"><a href="#"><b><%=current_user.login%></b></a> | <%#=link_to_function "调整字体大小","$('resizer').toggle()"%> <%=link_to "我的消息",user_messages_path(current_user)%>(<%=current_user.unread_messages.size%>) | <%=link_to "我的账户",:controller=>"/user",:action=>"index"%> | <%=link_to "退出",logout_url%></div>
    <div id="resizer" style="display:none;width:60px;float:left;position: fixed;">
        <div style="float:left;width:60px;text-align:right;"><a href="###" onclick="$('resizer').toggle();">×</a></div>
		<!-- <a href="#" class="texttoggler" rel="xsmallview" title="extra small size"><img src="/images/textsizer/xsmallview.png" /></a>  -->
		<a href="#" class="texttoggler" rel="smallview" title="small size" onclick="resizeText(1)"><img src="/images/textsizer/smallview.png" /></a> 
		<!-- <a href="#" class="texttoggler" rel="normalview" title="normal size"><img src="/images/textsizer/normalview.png" /></a>  -->
		<a href="#" class="texttoggler" rel="largeview" title="large size" onclick="resizeText(-1)"><img src="/images/textsizer/largeview.png" /></a> 
		<!-- <a href="#" class="texttoggler" rel="xlargeview" title="extra large size"><img src="/images/textsizer/xlargeview.png" /></a>    -->     
    </div>
</div>

	 <%=render :partial=>"shared/menu_top" %>

