<div class="header">
  <div class="logo"><img src="/images/top/logo.gif" /></div>
  <div class="ad"><%=link_to image_tag("/images/top/joinad1.gif",:style=>"border:0px"),signup_url%><br /><font color="#FFCC3"><%=link_to "会员登录",login_url%></font></div>
</div>
<div class="mainnav" style="height:33px;">
	<ul>
	 <%=render :partial=>"shared/menu_top" %>
      <li class="search" style="padding-left:235px;"><%=text_field_tag "search_content","",:style=>"width:80px;border:1px #ccc solid;"%><%=submit_tag "提交",:class=>"headersearch"%>
      <a href="#">帮助</a>│<%=link_to "注册",signup_url%> </li>
    </ul>
</div>