<div class="header">
  <div class="logo"><img src="/images/top/logo.gif" /></div>
    <div class="topnav"><a href="#"><b><%=current_user.login%></b></a> | <a href="#">调整字体大小</a> | <%=link_to "我的消息",user_messages_path(current_user)%>(<%=current_user.unread_messages.size%>) | <%=link_to "我的账户",:controller=>"/user",:action=>"index"%> | <%=link_to "退出",logout_url%></div>
</div>

	 <%=render :partial=>"shared/menu_top" %>

