<% form_for(@event, :html => { :multipart => true }) do |f| -%>			
	<%= f.error_messages %>
	<label for="name">活动名称:</label>
	<%= f.text_field :name, :class=>'input_field' %>
	<label>标签:</label>
	<%=f.text_field :tag_list%>
	<label for="photo">相关图片:</label>
	<%= file_field_tag :event_photo, :class=>'input_field' %>

	<label for="description">描述:</label>
	<%= f.text_area :description, :rows=>3, :class=>'input_field' %>

	<label for="event_type">Event Type:</label>
	<%= f.text_field :event_type, :class=>'input_field' %>
	<div class="field_help_text">例如: "研讨会", "培训班"</div>

	<label for="start_time">开始时间:</label>
	<div class="datetime"><%= f.datetime_select :start_time, :twelve_hour => true, :class=>'input_field' %></div>

	<label for="end_time">结束时间:</label>
	<div class="datetime"><%= f.datetime_select :end_time, :twelve_hour => true, :class=>'input_field' %></div>

	<label for="location">地点:</label>
	<div style='width:300px;border:1px solid red;height:30px'> <%=country_select_tag(:country,
	       :only => [:china, :japan, :united_states],
	       :update => 'state')%>
	<%=state_select_tag(:state,:country => :china,:countries => [:china, :japan, :united_states],
	       :update => 'city' )%>
<%=	city_select_tag(:city, :country => :china, :state => :beijing )%></div>

	<label for="city">城市:</label>
	<%= f.text_field :city, :class=>'input_field' %>

	<label for="website">网站或地图:</label>
	<%= f.text_field :website, :class=>'input_field' %>
	<div class="field_help_text">填入网站地址或者google map的链接</div>

	<label for="phone">联系电话:</label>
	<%= f.text_field :phone, :class=>'input_field' %>

	<label for="organized_by">组织机构:</label>
	<%= f.text_field :organized_by, :class=>'input_field' %>
	<div class="field_help_text">默认为您自己</div>

	<%= f.submit "Add Event", :class=>'add_button' %>
	<div style="clear:both"></div>
<% end %>