<div class="module" style="background-color:white;">
	<div class="module_head">Event Details</div>
	<div class="module_body">
		<div id="event_photo">
			<% if (@event.photo) %>
				<%= image_tag(@event.photo.url(:thumb)) %>
			<% else %>
				No Photo
			<% end %>
		</div>
		<div id="event_description">
			<div class="event_detail_name"><%= @event.name %></div>
			<%= link_to @event.website, @event.website %><br/>
			Time: <%= @event.start_time.to_s(:event_brief) %><br/>
			Location: <%= @event.location %><br/>
			City/Town: <%= @event.city %><br/>
			Event Type: <%= @event.event_type %><br/>
			Organized By: <%= @event.organized_by %>					
		</div>
		<% if logged_in? %>
			<div id="event_attendance">
				<% if current_user.events.include?(@event) %>
					You are attending this event
					<%= link_to '(X)', '/attendances/destroy?user_id='+current_user.id.to_s + '&event_id=' + @event.id.to_s %>
				<% else %>
					<%= link_to 'Attend this Event', '/attendances/create?user_id='+current_user.id.to_s + '&event_id=' + @event.id.to_s %>
				<% end %>
			</div>
		<% end %>
		<div style="clear:both"></div>
	</div>
</div>