<%=render :partial => "event_menu"%>
<%= stylesheet_link_tag 'events' %>
<h1>All Events (<%= @events.size %>)</h1>

<div id="events_table">
	<% if !@past_events %>
		<div id="past_events"><%= link_to 'Show past events', '/events/full_index' %></div>
	<% end %>
	<% for event in @events %>
		<%= render :partial => 'event_brief', :locals=>{:event=>event} %>
	<% end %>
</div>

