<%=render :partial => "event_menu"%>
<%= stylesheet_link_tag 'events' %>
	
<div class="column_1">
	<%= render :partial => 'event_details' %>
	<div class="module">
		<div class="module_head">Event Description</div>
		<div class="module_body">
			<%= @event.description %>
		</div>
	</div>
	<%= render :partial => 'shared/wall_posts_widget', :locals=>{:parent=>@event} %>
</div>
<div class="column_2">
	<% if (current_user && current_user.is_admin) || current_user == @event.user %>
		<%= render :partial => 'event_admin_widget' %>
	<% end %>
	<%= render :partial => 'attendance_widget' %>
</div>


