<% @users = User.find(:all, :limit=>8, 
					  :select=>"id, first_name, last_name,name", 
					  :conditions => "activated_at is not null", 
					  :order => User.connection.adapter_name == 'PostgreSQL' ? 'RANDOM()' : 'RAND()',
					  :include=>:profile_photo) %>

<% @users_count = User.cached_count %>

<% widget_title = "会员 (#{@users_count})" %>

<% content_for :module_header do %>
	<div class="head_left">
		<%= image_tag('group.png', :alt=>'events', :align=>'absmiddle')%>&nbsp;&nbsp;<%= widget_title %>
	</div>
	<div class="head_right">
		<%= show_expand_collapse_btn %>	
	</div>
	<div style="clear:both;"></div>
<% end %>

<% content_for :module_body do %>
	<% count = 0 %>
	<div style="float:left;clear:both;width:100%;">
	<% @users.each do |user | %>
		<% count = count + 1 %>
		<div class="user_widget_user">
			<% if user.profile_photo %>

				<%= link_to image_tag(user.profile_photo.public_filename(:small), :alt=>user.name), user_url(user) %>
			<% else %>
				<%= link_to '<div class="no_photo_user_widget"></div>', user_url(user) %>
			<% end %>
		</div>
		<% if count%4 == 0 && count != @users.length %>
			</div><div style="float:left;clear:both;margin-top:5px;width:100%;">
		<% end %>
	<% end %>
	</div>
	<div style="clear:both;"></div>
<% end %>

<% content_for :module_footer do %>
	<%= link_to '显示全部', users_url %>
<% end %>