<style type="text/css">
<!--
body {font-family:Arial, Helvetica, sans-serif;margin:0;font-size:12px;}
a {font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#002850;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;color:#002850;}
a:hover {text-decoration:underline;color:#002850;}
a:active {text-decoration:none;color:#002850;}
h1,h2,h3,p {margin:0;padding:0;}
.uesrinfo {width:900px;margin:0 auto;padding-top:0px;}
.uesrinfo h1 {font-size:14px;background:url(/images/icon.gif) left top no-repeat;padding-left:26px;}
.uesrinfo span {color:#818181;line-height:40px;padding-left:26px;}
.uesrinfo span a,.uesrinfo span a:link,.uesrinfo span a:visited {color:#0C2641;text-decoration:underline;}
.use {width:900px;margin:0 auto;border-top:1px solid #d8d8d8;padding-top:10px;}
.use h1 {font-size:14px;font-weight:normal;line-height:30px;background:url(/images/icon.gif) left -27px no-repeat;padding-left:26px;}
.use h2 {font-size:12px;font-weight:normal;color:#07315B;line-height:30px;text-decoration:underline;background:url(/images/icon.gif) 26px -56px no-repeat;padding-left:50px;}
.use h2 a,.use h2 a:link,.use h2 a:visited {text-decoration:underline;}
.use h2.use2 {background:url(/images/icon.gif) 26px -96px no-repeat;}
-->
</style>
<div class="uesrinfo">
	<h1>欢迎回来：<%=current_user.login%>!</h1>
    <span>您有<%=current_user.unread_messages.size%>条待读信息。<%=link_to "查看",:controller=>"messages"%></span>
</div>
<div class="use">
	<h1>您可以通过快速通道使用以下功能：</h1>
    <h2><%=link_to "补充个人信息",:controller=>"user",:action=>"account"%></h2>
  <h2 class="use2"><%=link_to "发表病例讨论",:controller=>"biz/bingli_info",:action=>"input"%></h2>
<h2 class="use2"><%=link_to "邀请好友加入",:controller=>"/invites",:action=>"new"%></h2>
<h2 class="use2"><%=link_to "我的好友",user_friends_path(current_user)%></h2>
<h2 class="use2"><%=link_to "我参与的圈子",user_groups_path(current_user)%></h2>
<h2 class="use2"><%=link_to "个人博客",user_blog_posts_path(current_user)%></h2>
<h2 class="use2"><%=link_to "参与的活动",events_path()%></h2>
<h2 class="use2"><%=link_to "我的图库",user_photos_path(current_user)%></h2>
</div>
