<%= stylesheet_link_tag 'common' %>
<%= stylesheet_link_tag 'job_posts' %>

<div id="jobs_links">
	<% if logged_in? %>
		<div id="jobs_add"><%= link_to '新建工作信息', new_job_post_path %></div>
	<% end %>
</div>
<h1>Job Posts (<%= @job_posts.length %>)</h1>
<div id="content_table">
	<% for job_post in @job_posts %>
		<%= render :partial => 'job_post_brief', :locals=>{:job_post=>job_post} %>
		<% if logged_in? && (current_user.is_admin || current_user.id == job_post.user.id) %>
			<div class="job_post_controls">
				<%= link_to '编辑', edit_job_post_url(job_post) %>  
				<%= link_to '删除', job_post, :confirm => 'Are you sure?', :method => :delete %>
			</div>
		<% end %>
	<% end %>
	<% if @job_posts.length == 0 %>
		无工作信息。
	<% end %>
</div>

