<%=render :partial => "forum_post_menu"%>	
<% if @forum_topic %>
	<h1><%= @forum_topic.title %></h1>
<% else %>
	<h1>Posts for <%= current_user.name %></h1>
<% end %>
<div id="forum_table" style="width:960px;">	
	<div id="header" style="width:950px;border:1px solid #999;margin-top:5px;padding:5px 0px 5px 10px;;height:30px;font-weight:bold;font-size:16pt;float:left;">
			<span style="float:left;width:350px;">帖子</span>
			<span style="float:left;width:100px;">查看</span>
			<span style="float:left;width:100px;">讨论数量</span>
			<span style="float:left;width:100px;">作者</span>
			<span style="float:left;width:150px;text-align:right;">最近讨论</span>
		</div>
		<% for forum_post in @forum_posts %>
	<div id='post_table' style="float:left;width:950px;margin-top:5px;padding:5px 0px 5px 10px;border:1px solid red;height:50px">
			
				<span style='float:left;width:350px;'><%= link_to forum_post.title, forum_post_path(forum_post) %></span>
					<span style='float:left;width:100px;'><%= forum_post.views %></span>
				<span style='float:left;width:100px;'><%= forum_post.replies.length %></span>
				<span style='float:left;width:100px;'><%= forum_post.user.login %></span>
				<% if forum_post.replies && forum_post.replies.length > 0 %>
					<span style='float:left;width:150px;'><%= forum_post.replies[forum_post.replies.length-1].created_at.to_s(:basic) %></span>
				<% else %>
				<span style='float:left;width:150px;text-align:right'><%= forum_post.created_at.to_s(:basic) %></span>
				<% end %>
				</div>
		<% end %>
	</div>
	<% if @forum_posts.length == 0 %>
		No posts exist.
	<% end %>

