<%#= stylesheet_link_tag 'forum' %>
	
<div style="width:952px;border:2px solid black">
		<div id="topic" style='width:950px;border:1px solid white;background-color:#E3EDF0;height:30px;text-align:center;padding-top:10px;'><%= link_to "主题:"+@forum_post.title, forum_topic_forum_posts_path(@forum_post.forum_topic),{:style=>"font-weight:bold;font-size:18px;color:#316EBC"} %>
		</div>
		<div id='nav' style="width:950px;height:30px;background-color:#346495;border:1px solid white;vertical-align:middle;">
			<span style="width:259px;height:inherit;float:left;text-align:center;padding-top: 6px;font-size:16px;font-weight:bold;color:#E79237;border-right:1px solid white">作者</span>
			<span style="width:690px;height:inherit;float:left;text-align:center;padding-top: 6px;font-size:16px;font-weight:bold;color:#E79237">正文</span>
		</div>
		
		
		
	<div id='post' style="border:1px solid red;float:left">	<div id='author' style="width:259px;border:1px solid white;float:left;">
			<div class="forum_post_photo">
		<% if @forum_post.user.avatar %>
			<%= link_to image_tag(@forum_post.user.avatar.url(:medium)), user_url(@forum_post.user) %>
		<% else %>
			<%= link_to @forum_post.user.name, user_url(@forum_post.user) %>
		<% end %>
			</div>
		</div>
		<div id='text' style="width:690px;float:right">
				<div class="forum_post_text">
					<div class="forum_post_title"><%= link_to @forum_post.title, forum_post_path(@forum_post) %></div>
					<div class="forum_post_detail">Posted by <%= @forum_post.user.name %><br/>
					<%= @forum_post.created_at.to_s(:event_brief) %></div>
				</div>
				<div class="forum_post_body">
					<%= @forum_post.body %>
				</div>
		</div></div>
		<div id="existing_replies">
			<%= render :partial => 'forum_post_replies' %>
		</div>
</div>
<%= render :partial => 'forum_post_reply_form' %>


