<%= stylesheet_link_tag "fabiao"%>
<%= error_messages_for :bingli,:class=>"error" %>
<%@keshis=Keshi.find(:all)
@catelogs=Catelog.find(:all)%>
<%=render :partial=>"shared/bingli_info/search" ,:locals => {:keshi=>@keshis} %>
<%=render :partial=>"shared/nav3"%>
<%form_for :bingli,@bingli,:url=>{:controller=>"biz/bingli_info",:action=>"save"},:html =>{:multipart => true} do |f| %>

<div class="fabiao_box">
    <div class="menu">
        <h1>发表讨论</h1>
        <span class="info">带
            <font color="red">
                *
            </font>号为必填项目
        </span>
    </div>
    <div class="cnt">
        <span class="title"><h2>主要内容</h2></span>
        <span class="tab"><h1>主题：</h1><input id="bingli_bingli_info[title]" name="bingli_info[title]" size="30" style="border:1px #889BAA solid;width:250px;" type="text" />
            <font color="red">
                *
            </font>
            <font color="#AFAFAF">
                最多可输入30个汉字
            </font>
        </span>
        <span class="tab"><h1>标签：</h1><%=select "tags","already",Tag.find(:all).collect{|t|[t.name,t.id]},{:prompt=>"--选择已有标签--"} %>
            &nbsp;<%=text_field_tag "tags[custom]" %>
            &nbsp;&nbsp;<strong>科室及分类：</strong>&nbsp;<%= collection_select(:bingli_info,:keshi_id, @keshis,:id,:title,{:selected=>current_user.keshi.id}) %><%= related_collection_select(:bingli_info, :catelog_id,'bingli_info_keshi_id',@catelogs, :id, :title, :keshi_id,:include_blank =>['选择分类',''])%>
<%#=select_tag "catelog_id",options_for_select(Catelog.find(:all,:conditions=>["keshi_id=?",params[:id]]).collect{|c|[c.title,c.id]}),{ :include_blank => true } %>
        </span>
        <span class="title"><h2>病例内容</h2></span>
        <span class="title2"><h3>一般情况</h3></span>
        <span class="tab"><h1>主诉：</h1><%=f.text_field :zhusu ,:style=>"border:1px #889BAA solid;width:250px;" %>
            <font color="red">
                *
            </font>
            <font color="#AFAFAF">
                最多可输入30个汉字
            </font>
        </span>
        <span class="tab"><h1>性别：</h1><%=select_tag "bingli[sex]",'<option value=1 selected>男</option><option value=0>女</option>' %>
            &nbsp;<strong>年龄</strong><%=f.text_field :age,"size" => 3 ,:style=>"border:1px #889BAA solid;width:50px;" %>
            &nbsp;&nbsp;<strong>婚姻状况</strong>&nbsp;<%=select_tag "bingli[marriage]","<option value=1>已婚</option><option value=0>未婚</option><option value=2 selected>不详</option>" %>
            <h2 style="width:750px;">一般情况描述不足？<%=link_to_function "补充","new Effect.Appear('yibanqingkuang_buchong');",:class=>"f12red"%></h2></span>
			<div id='yibanqingkuang_buchong' style="display:none">
				<span class="tab">
					<h1></h1><%=text_area_tag "yibanbuchong",'',:style=>"width:500px;height:100px;border:1px #889BAA solid;color:#999;font-size:12px;padding:6px;"%>
				</span>
					
			</div>
        <span class="tab"><h1>详细：</h1><%=f.text_area :xianbingshi,:style=>"width:200px;height:150px;border:1px #889BAA solid;color:#999;font-size:12px;padding:6px; margin:0px 10px 0px 0px;","value"=>"-现病史－" %>
            <%=f.text_area :jiwang,"cols"=>"","rows"=>"",:style=>"width:200px;height:150px;border:1px #889BAA solid;color:#999;font-size:12px;padding:6px;margin:0px 10px 0px 0px;","value"=>"-既往史－"  %>
            <%=f.text_area :tigejiancha,"cols"=>"","rows"=>"",:style=>"width:200px;height:150px;border:1px #889BAA solid;color:#999;font-size:12px;padding:6px;margin:0px 10px 0px 0px;","value"=>"-体格检查－"  %>
        </span>
        <span class="title2"><h3>辅助诊断</h3><%=javascript_tag "var max_id=0;" %>
            <h4><%=link_to_remote '+我要添加',:id=>'tianjia',:url=>{:action=>'get_fuzhu'},:with=>"'max_id='+max_id",:complete => "new Effect.Highlight('fuzhu_id['+(max_id-1)+']')" %></h4></span>
        <div id='fuzhu_scope'></div>
        <span class="title2"><h3>鉴别诊断</h3><h4><%=link_to_function '+我要添加',"new Insertion.Bottom('chubu','<div id=new style=display:none>'+$('chubu_blank').innerHTML+'</div>');new Effect.Appear('new');$('new').id='';" %></h4></span>
        <%=render :partial=>"shared/bingli_info/chubu" %>
        <span class="title2"><h3>疑    问</h3><h4><%=link_to_function '+我要添加',"new Insertion.Bottom('yiwen','<div id=new style=display:none>'+$('yiwen_blank').innerHTML+'</div>');new Effect.Appear('new');$('new').id='';" %></h4></span>
		<%=render :partial=>"shared/bingli_info/yiwen" %>
        
        <span class="title2"><h3>最终诊断</h3></span>
        <span class="tab"><h1></h1>
		<%=f.text_area :final,:style=>"width:500px;height:100px;border:1px #889BAA solid;color:#999;font-size:12px;padding:6px;"%>
        </span>
        <span class="title3"><h1>如果您觉得有不足的地方，请<%=link_to_function "补充","new Effect.Appear('buchong');"%></h1></span>
		<div id='buchong' style="display:none">
        <span class="tab"><h1>补充类型：</h1>
            <select name="select">
                <option value="-请选择-">-请选择-</option>
            </select>
        </span>
        <span class="tab"><h1>补充内容：</h1>
		<%=f.text_area :zongbuchong,:style=>"width:500px;height:100px;border:1px #889BAA solid;color:#999;font-size:12px;padding:6px;"%>
        </span>
		</div>
        <span style="width:860px;margin:10px auto;display:block;"><%= f.submit "完  成", :class=>"subtn",:disable_with => '提交中...' %></span>
    </div>
</div><%end %>