   <style type="text/css"> 
<!--
.fabiao_box {width:928px;border:1px #D0E1EB solid;margin:0px auto;overflow:hidden;clear:both;}
.fabiao_box .menu {width:928px;height:26px;border-bottom:1px #D0E1EB solid;background:url(/images/tab_bg1.gif) repeat-x;float:left;}
.fabiao_box .menu h1 {line-height:26px;margin:0px;padding:0px 0px 0px 10px;font-size:14px;float:left;display:inline;color:#004575;}
.fabiao_box .menu .info {width:200px;text-align:right;line-height:26px;color:#9FA4A8;float:right;display:block;margin-right:6px;overflow:hidden;}
.fabiao_box .cnt {width:928px;float:left;}
.fabiao_box .cnt .title {width:860px;height:30px;line-height:30px;margin:0px auto;background:url(/images/line3.gif) 0px 15px repeat-x;display:block;}
.fabiao_box .cnt .title h2 {width:90px;height:30px;line-height:30px;background:#fff;margin:0px auto;display:block;text-align:center;font-size:14px;font-weight:bold; color:#FF9900;}
.fabiao_box .cnt .title2 {width:860px;height:24px;line-height:24px;background:#FFFCF5;margin:0px auto;display:block;border:1px #F6DFAD solid;color:#FE970E;overflow:hidden;}
.fabiao_box .cnt .title2 h3 {height:24px;line-height:24px;display:block;font-size:14px;font-weight:bold;margin:0px 10px;padding:0px;float:left;}
.fabiao_box .cnt .title2 h4 {height:24px;line-height:24px;display:inline;font-size:12px;font-weight:normal;margin:0px 10px;padding:0px;float:right;}
.fabiao_box .cnt .title2 h4  a {color:#0F3A4A;text-decoration:underline;}
.fabiao_box .cnt .tab {width:860px;margin:10px auto;display:block;}
.fabiao_box .cnt .tab h1{font-weight:bold; font-size:12px; display:block; color:#004575; width:80px; height:25px; line-height:25px; margin:0px; padding:0px; float:left; text-align:right;}
.fabiao_box .cnt .tab h2{float:left; margin:0px; display:block; height:30px; width:200px; line-height:30px; font-size:12px; font-weight:normal; color:#AFAFAF;}
.fabiao_box .cnt .title3{width:860px;height:24px;line-height:24px;margin:0px auto;display:block;overflow:hidden;}
.fabiao_box .cnt .title3 h1{color:#AFAFAF; font-size:14px; font-weight:normal; display:block; float:left; margin:0px 0px 0px 5px; padding:0px;}
-->
</style> 
<%= error_messages_for :bingli,:class=>"error" %>
<%form_for :bingli,@bingli,:url=>{:controller=>"biz/bingli_info",:action=>"save"},:html =>{:multipart => true} do |f| %>
<div class="search">
    <div class="sleft">
        <input name="" type="text" style="width:200px;border:1px #ccc solid;"/><input name="提交" type="submit" value="查找病例"class="btn" />&nbsp;
        <select name="">
            <option value="-科室跳转-">-科室跳转-</option>
        </select>
    </div>
    <div class="sright">
        <h2><a href="#">其它链接一</a></h2>
        <h2><a href="#">其它链接二</a></h2>
        <h2><a href="#">其它链接三</a></h2>
        <h2><a href="#">其它链接四</a></h2>
    </div>
</div>
<div class="fabiao_box">
    <div class="menu">
        <h1>发表讨论</h1>
        <span class="info">带
            <font color="red">
                *
            </font>号为必填项目
        </span>
    </div>
    <div class="cnt">
        <span class="title"><h2>主要内容</h2></span>
		<%=hidden_field_tag 'keshi_id',params[:id]%>
        <span class="tab"><h1>主题：</h1><input id="bingli_bingli_info[title]" name="bingli_info[title]" size="30" style="border:1px #889BAA solid;width:250px;" type="text" />
            <font color="red">
                *
            </font>
            <font color="#AFAFAF">
                最多可输入30个汉字
            </font>
        </span>
        <span class="tab"><h1>标签：</h1><%=select "tags","already",Tag.find(:all).collect{|t|[t.name,t.id]},{:prompt=>"--选择已有标签--"} %>
            &nbsp;<%=text_field_tag "tags[custom]" %>
            &nbsp;&nbsp;<strong>分类</strong>&nbsp;<%= collection_select(:parent,:id, @keshis,:id,:title,:include_blank => '选择科室') %><%= related_collection_select(:catelog, :id,'parent_id',@catelogs, :id, :title, :keshi_id,:include_blank => '选择分类')%>
<%#=select_tag "catelog_id",options_for_select(Catelog.find(:all,:conditions=>["keshi_id=?",params[:id]]).collect{|c|[c.title,c.id]}),{ :include_blank => true } %>
        </span>
        <span class="title"><h2>病例内容</h2></span>
        <span class="title2"><h3>一般情况</h3></span>
        <span class="tab"><h1>主诉：</h1><%=f.text_field :zhusu ,:style=>"border:1px #889BAA solid;width:250px;" %>
            <font color="red">
                *
            </font>
            <font color="#AFAFAF">
                最多可输入30个汉字
            </font>
        </span>
        <span class="tab"><h1>性别：</h1><%=select_tag "bingli[sex]",'<option value=1 selected>男</option><option value=0>女</option>' %>
            &nbsp;<strong>年龄</strong><%=f.text_field :age,"size" => 3 ,:style=>"border:1px #889BAA solid;width:50px;" %>
            &nbsp;&nbsp;<strong>婚姻状况</strong>&nbsp;<%=select_tag "bingli[marriage]","<option value=1>已婚</option><option value=0>未婚</option><option value=2 selected>不详</option>" %>
            <h2 style="width:750px;">一般情况描述不足？<%=link_to_function "补充","new Effect.Appear('yibanqingkuang_buchong');",:class=>"f12red"%></h2></span>
			<div id='yibanqingkuang_buchong' style="display:none">
				<span class="tab">
					<h1></h1><%=text_area_tag "yibanbuchong",'',:style=>"width:500px;height:100px;border:1px #889BAA solid;color:#999;font-size:12px;padding:6px;"%>
				</span>
					
			</div>
        <span class="tab"><h1>详细：</h1><%=f.text_area :xianbingshi,:style=>"width:200px;height:150px;border:1px #889BAA solid;color:#999;font-size:12px;padding:6px; margin:0px 10px 0px 0px;","value"=>"-现病史－" %>
            <%=f.text_area :jiwang,"cols"=>"","rows"=>"",:style=>"width:200px;height:150px;border:1px #889BAA solid;color:#999;font-size:12px;padding:6px;margin:0px 10px 0px 0px;","value"=>"-既往史－"  %>
            <%=f.text_area :tigejiancha,"cols"=>"","rows"=>"",:style=>"width:200px;height:150px;border:1px #889BAA solid;color:#999;font-size:12px;padding:6px;margin:0px 10px 0px 0px;","value"=>"-体格检查－"  %>
        </span>
        <span class="title2"><h3>辅助诊断</h3><%=javascript_tag "var max_id=0;" %>
            <h4><%=link_to_remote '+我要添加',:id=>'tianjia',:url=>{:action=>'get_fuzhu'},:with=>"'max_id='+max_id",:complete => "new Effect.Highlight('fuzhu_id['+(max_id-1)+']')" %></h4></span>
        <div id='fuzhu_scope'></div>
        <span class="title2"><h3>鉴别诊断</h3><h4><%=link_to_function '+我要添加',"new Insertion.Bottom('chubu','<div id=new style=display:none>'+$('chubu_blank').innerHTML+'</div>');new Effect.Appear('new');$('new').id='';" %></h4></span>
        <%=render :partial=>"shared/bingli_info/chubu" %>
        <span class="title2"><h3>疑    问</h3><h4><%=link_to_function '+我要添加',"new Insertion.Bottom('yiwen','<div id=new style=display:none>'+$('yiwen_blank').innerHTML+'</div>');new Effect.Appear('new');$('new').id='';" %></h4></span>
		<%=render :partial=>"shared/bingli_info/yiwen" %>
        
        <span class="title2"><h3>最终诊断</h3></span>
        <span class="tab"><h1></h1>
		<%=f.text_area :final,:style=>"width:500px;height:100px;border:1px #889BAA solid;color:#999;font-size:12px;padding:6px;"%>
        </span>
        <span class="title3"><h1>如果您觉得有不足的地方，请<%=link_to_function "补充","new Effect.Appear('buchong');"%></h1></span>
		<div id='buchong' style="display:none">
        <span class="tab"><h1>补充类型：</h1>
            <select name="select">
                <option value="-请选择-">-请选择-</option>
            </select>
        </span>
        <span class="tab"><h1>补充内容：</h1>
		<%=f.text_area :zongbuchong,:style=>"width:500px;height:100px;border:1px #889BAA solid;color:#999;font-size:12px;padding:6px;"%>
        </span>
		</div>
        <span class="tab"><%=image_submit_tag "/images/btn2_1.gif",:hspace=>"200"%></span>
    </div>
</div><%end %>