<%= stylesheet_link_tag "showone.css" %>
<%=javascript_include_tag "bingli_info.js"%>
<%= javascript_include_tag 'lytebox.js'%>
<%= stylesheet_link_tag 'lytebox.css'%>
<script type="text/javascript" charset="utf-8">
var fkey='<%=form_authenticity_token%>'
</script>
<%#=render :partial=>"shared/bingli_info/search" ,:locals => {:keshi=>@bingli_info.keshi} %>
 
<%#=render :partial=>"shared/nav3"%>

<div class="listbox">
    <div class="menu">
        <!-- <div class="menu_tab3" style="margin-left:10px;">
            <%#=link_to "发起回应",:controller=>"biz/bingli_comment",:action=>"input",:bingli_info_id=>@bingli_info.id %>
        </div> -->
        <div class="menu_tab3">
            <%=link_to "发起新讨论",:controller=>"biz/bingli_info",:action=>"input",:keshi=>@bingli_info.keshi.id %>
        </div>
    </div>
</div>
</div>
<div class="show_box">
    <div class="menu">
        <h1><%=@bingli_info.title %></h1>
        <span class="info">
            <%=link_to @user.nickname,:controller=>"user/personal",:action=>"index",:id=>@user.id %>
            <font color="#999999">
                发表于
            </font>
            <%=@bingli_info.thetime.to_s(:basic) %>
<a href="#">
                <u>
                    与朋友分享此讨论
                </u>
            </a>
            <u>
                打印 
            </u>
            <font color="#FFB32E">
                <u id='add_fav<%=@bingli_info.id%>'>
                    <%#= if logged_in? && current_user.favorites.exists?(@bingli_info.id) then '已收藏' else (link_to_remote "收藏",:url=>{:controller=>'biz/bingli_info',:action=>'add_favorite',:id=>@bingli_info.id}) end %>
                </u>
            </font>
        </span>
    </div>
    <div style="float:left;width:40px">
      <div id='bingli_<%=@bingli_info.id%>' class="vote">
    <input type="hidden" value="<%=@bingli_info.id%>">
    <span  class="vote-up-off" title="这个问题清晰，有用处。">支持</span>
    <span class="vote-count-post"><%=@bingli_info.votes_count%></span>
    <span class="vote-down-off" title="这个问题模糊，没有用处。">反对</span>

    <span class="star-off<%=current_user.has_favorite?(@bingli_info) ? ' star-on' : '' if logged_in?%>" title="This is a favorite question (click again to undo)">favorite</span>
    <div id='favorite_<%=@bingli_info.id%>' class="favoritecount<%=current_user.has_favorite?(@bingli_info) ? ' favoritecount-selected' : '' if logged_in?%>"><b><%=@bingli_info.favorites.size%></b></div>    

</div>
    </div>
    <div class="cnt">
        <span class="title">
            <font color="#004575">
                性别：
            </font>
            <%=@bingli.sex==1? "男".to_s : "女".to_s %>&nbsp;&nbsp;&nbsp;
            <font color="#004575">
            </font>
            <%=@bingli.age.blank? ? '不详' : @bingli.age.to_s+'岁' %>
            &nbsp;&nbsp;&nbsp;
            <font color="#004575">
                婚姻状况：
            </font>
            <%= @bingli.marriage ? "已婚" : "未婚" %>
            <br/>
            <font color="#004575">
                主诉：
            </font>
            <%=@bingli.zhusu %>
            
            <%if !@bingli.yibanbuchong.blank?%><br/><font color="#004575">一般情况补充：</font><%=@bingli.yibanbuchong%><%end%>
        </span>
        <ul>
            <%if !@bingli.zhuyaozhengzhuang.blank? %>
            <li>
                <span class="name">主要症状：</span>
                <p class="intro">
                    <%=@bingli.zhuyaozhengzhuang %>
                </p>
            </li>
            <%end %>
            <% if !@bingli.xianbingshi.blank? %>
            <li>
                <span class="name">现病史 ：</span>
                <p class="intro">
                    <%=@bingli.xianbingshi %>
                </p>
            </li>
            <%end %>
            <%if !@bingli.jiwang.blank? %>
            <li>
                <span class="name">既往病史 ：</span>
                <p class="intro">
                    <%=@bingli.jiwang %>
                </p>
            </li>
            <%end %>
			<%if !@bingli.tigejiancha.blank?%>
			<li>
			<span class="name">体格检查 ：</span>
			 <p class="intro">
                    <%=@bingli.tigejiancha %>
                </p>
				</li>
			<%end%>
            <%if !@bingli.fuzhu_details.blank? %>
            <%@bingli.fuzhu_details.each {|fd| %>
            <li>
                <span class="name">辅助诊断：</span>
                <p class="intro">
                    <%=fd.fuzhu_type.name+" : "+fd.content %>
                    <br/>
                    <%fd.attachments.each {|pic| %><span class="pic"><%="附件"+(fd.attachments.index(pic)+1).to_s %><%=link_to image_tag(pic.public_filename(:thumb),:style=>"border:0px"),pic.public_filename ,:toptions=>"effect=transform,group="+fd.id.to_s+",layout=quicklook,shaded=1",:rel=>"lytebox[0]"%>
                        <br/>
                        
                    </span>
               
                <%} %>
                     </p>
            </li>
            <% } end %>
            <%if !@bingli.chubu_details.blank? %>
	<li>
              <span class="name">初步诊断：</span>
              <%@bingli.chubu_details.each{|c|%>
                <p class="intro">
                    <%=(@bingli.chubu_details.index(c)+1).to_s+":" if @bingli.chubu_details.size > 1%><%=c.content%>
                </p>
                <%}%>
            </li>
            <%end %>
            <%if !@bingli.question_details.blank? %>
            <li>
                <span class="name">疑问：</span>
                <%@bingli.question_details.each{|q|%>
                <p class="intro">
                    <%=(@bingli.question_details.index(q)+1).to_s+":" if @bingli.question_details.size > 1%><%=q.content%>
                </p>
                <%}%>
            </li>
            <%end %>
            <%if !@bingli.final.blank? %>
            <li>
                <span class="name">最终诊断：</span>
                <p class="intro">
                    <%=@bingli.final %>
                </p>
            </li>
            <%end %>
            <%if !@bingli.zongbuchong.blank?%>
            <li>
              <span class="name">病例补充：</span>
                <p class="intro">
                    <%=@bingli.zongbuchong %>
                </p>
            </li>
            <%end%>
        </ul>
    </div>
</div>
<div class="blank">
</div>
<div class="comment_box">
    <div class="menu">
        <h1>讨论<%="(#{@bingli_comments.size})" unless @bingli_comments.blank?%></h1>
    </div>
    <div class="cnt">
        <ul id="bingli_comments">
        	 <%=render :partial=>"shared/bingli_comment",:collection=>@bingli_comments%>
        </ul>
        <div class="blank">
        </div>
    </div>
</div>
<div class="blank">
</div>
<div id='comment-form' style='display:none;'>
	<table><tbody><tr><td><textarea name="comment" cols="68" rows="3" tabindex="204"></textarea></td><td><input type="submit" value="Add Comment" tabindex="205"></td></tr><tr><td colspan="2"><span class="text-counter cool">最少5个字符</span><span class="form-error"></span></td></tr></tbody></table>
	</div>
<%=will_paginate @bingli_comments,:class=>"digg_pagination",:style=>"width:630px;padding:10px 0px;margin:0px auto;float:right;padding:6px 0px;" %>
<div class="user_box">
    <div class="menu">
        <h1>我要评论</h1>
    </div>
    <div class="cnt">
        <%if logged_in? %>
		<%=form_remote_tag :url=>{:controller=>"biz/bingli_info",:action=>"add_bingli_comment",:id=>@bingli_info.id}%>
		<%=text_area_tag "bingli_comment_content","对病例有疑问？现在提问，或者发起回应表达你的观点",:cols=>"",:rows=>"",:style=>"width:600px;height:100px;border:1px #ccc solid;color:#999;font-size:12px;padding:10px; float:left;"%>
		 <label style="position: relative;top:100px;padding:0px 0px 0px 30px;bottom: 0px;"><%=submit_tag "提交",:disable_with => '提交中...'%></label>
		</form> 
        <%else %>
        <h1>您尚未
            <u>
            <font color="#FF6600">
                <%=link_to('登录',login_url) %>
            </font>，不能回应<font color="#FF0000"><%=link_to "我要注册>>",signup_url %></font>
        </u>
       
        </h1>
		<%end%>
    </div>
