<div class="a_bug">
	<div class="bug_created_at">
		<%= bug.created_at %>
	</div>
	<div class="bug_title">
		<%= link_to bug.title, bug_report_url(bug) %>
	</div>
	<div class="bug_browser">
		<%= bug.browser %>
	</div>
	<div class="bug_resolved">
		<%= bug.resolved %>
	</div>
	<div class="bug_resolution_date">
		<%= bug.resolution_date %>
	</div>
</div>
