<%= stylesheet_link_tag 'bugs' %>

<div id="bugs_links">
	<% if logged_in? %>
		<div id="bugs_all"><%= link_to '查看所有问题/建议' %></div>
		<div id="bugs_my"><%= link_to '我的问题/建议', user_bug_reports_path(current_user) %></div>
	<% end %>
	<div id="bugs_add"><%= link_to '我要提交', new_bug_report_path %></div>
</div>

<div id="bugs_table">
	<table id="bug_table" border="1" cellpadding="0" cellspacing="0">
		<thead>
			<th>提交时间</th>
			<th>主题</th>
			<th>浏览器</th>
			<th>提交者</th>
			<th>已解决</th>
			<th>解决日期</th>
		</thead>
		<tbody>
			<% @bug_reports.each do |bug| %>
				<tr>
					<td class="bug_created_at"><%= bug.created_at %></td>
					<td class="bug_title"><%= link_to bug.title, bug_report_url(bug) %></td>
					<td><%= bug.browser %></td>
					<% if bug.user %>
						<td><%= bug.user.name %></td>
					<% else %>
						<td>匿名</td>
					<% end %>
					<td><%= bug.resolved %></td>
					<td>
						<% if bug.resolution_date %>
							<%= bug.resolution_date %>
						<% else %>
							&nbsp;
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<% if @bug_reports.length == 0 %>
		目前没有问题或者建议。
	<% end %>
</div>
<div style="clear:both;"></div>

