<%= stylesheet_link_tag 'bugs' %>
	
<h1>Bug Report</h1>
<% if current_user == @bug_report.user %>
	<div class="bug_edit_link">
		<%= link_to 'Edit Bug', edit_bug_report_path(@bug_report) %>
	</div>
<% end %>
<div id="bug_report">
	<div class="bug_title">
		<label for="bug_title">Title:</label>
		<%= link_to @bug_report.title, bug_report_path(@bug_report) %>
	</div>
	<% if @bug_report.user %>
		<div class="bug_detail">Posted by <%= @bug_report.user.name %> at <%= @bug_report.created_at %></div>
	<% end %>
	<div class="bug_browser">
		<label for="bug_browser">Browser:</label>
		<%= @bug_report.browser %>
	</div>
	<div class="bug_resolved">
		<label for="bug_resolved">Resolved:</label>
		<%= @bug_report.resolved %>
	</div>
	<div class="bug_resolution_date">
		<label for="bug_resolution_date">Resolution Date:</label>
		<%= @bug_report.resolution_date %>
	</div>
	<div class="bug_description">
		<label for="bug_description">Description:</label><br/>
		<%= @bug_report.description %>
	</div>
	<div class="bug_comment">
		<label for="bug_comment">Comment:</label><br/>
		<%= @bug_report.comment %>
	</div>
</div>

