<% tabnav :bingli_infos do%>
<table width="75%" border="0">
  <tr>
    <td>您参与讨论次数</td>
    <td>主题</td>
    <td>发表时间</td>
    <td>主题讨论贴数</td>
    <td>收藏</td>
  </tr>
  <%@bingli_comments.each{|bingli_comment|%>
  <tr>
    <td><%=@bingli_comments.find(:all,:conditions=>["user_id=:user_id",{:user_id=>current_user.id}]).size%></td>
    <td><%=link_to bingli_comment.bingli_info.title,biz_bingli_info_path(bingli_comment.bingli_info)%></td>
    <td><%=bingli_comment.bingli_info.created_at%></td>
    <td><%=@bingli_comments.size%></td>
    <td><div id='add_fav<%=bingli_comment.bingli_info.id%>'>
	<%=(current_user.favorites.exists?(bingli_comment.bingli_info.id)) ?  '已收藏' : (link_to_remote '收藏',:url=>{:controller=>'biz/bingli_info',:action=>'add_favorite',:id=>bingli_comment.bingli_info.id})%>
	</div></td>
  </tr>
  <%}%>
</table>
<%end%>
<%=will_paginate @bingli_comments,:params=>{:type=>params[:type]}%>