<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title><%= "医思网(病例分析,病例报告,病例讨论,CT,MRI,X线,超声,学术科研,读片)"+"--"+easy_title %></title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="病例分析,病例报告,病例讨论,CT,MRI,X线,超声,学术科研,读片"> 
	<meta name="keywords" content="病例分析,病例报告,病例讨论,CT,MRI,X线,超声,学术科研,读片" /> 
	<link rel="shortcut icon" href="/favicon.ico" />
	<%= stylesheet_link_tag 'style' %>
	<%=stylesheet_link_tag 'default.css'%>
	<%= javascript_include_tag :defaults %>
	<%= stylesheet_link_tag "tag_clouds","pagination","top/style"%>	
		<%= javascript_include_tag "doctextsizer" %>
		<%= stylesheet_link_tag  "doctextsizer" %>
    <%= javascript_include_tag "slide_show",'corner.js' %>
	<%# tooltips_include_tag do %>
	  <%#= yield(:tips) %>
	<%# end %>
    <script type="text/javascript">  	
		var authenticity_token = "<%= form_authenticity_token %>";		
		function resizeText(multiplier) { 
		  if ($('main_content').style.fontSize == ""){$('main_content').style.fontSize = "1.0em";} 
		  $('main_content').style.fontSize = parseFloat($('main_content').style.fontSize) + (multiplier * 0.2) + "em";
		}
    </script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-20305317-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<div id='content'>
			<%if (params[:controller]=="sessions" && params[:action]=="new") %>
			<%=render(:partial=>"shared/top_login")%>
			<%elsif(params[:controller]=="users" && params[:action]=="new")%>
			<%=render(:partial=>"shared/top_register")%>
			<%elsif(params[:controller]=="users" && params[:action]=="create" && !@user.errors.empty?) %>
			<%=render(:partial=>"shared/top_register")%>
			<%elsif logged_in? %>
			<%=render(:partial=>"shared/top_logon")%>
			<%else%>
			<%=render(:partial=>"shared/top_unlogon")%>
			<%end %>
	<div style='display:none;'><%=image_tag "/images/ajax-loader.gif", {:title => "提交中", :style => "margin-left: 10px;",:id => 'ajax-loader'} %></div>
	<%=render :partial=>"shared/nav_bar"%>
	<%=render :partial=>"shared/message_bar"%>
	
		<div id='main_content' style="clear:both;width:958px;margin:0px auto;padding-top: 15px;">
				<%= yield  %>
				</div>
		
<%=render :partial=>"shared/bottom"%>
</div>
</body>
</html>
