<div class="module">
	<div class="module_head" id="<%= @widget_name %>_head">
		<%= yield :module_header %>
	</div>
	<div class="module_body" id="<%= @widget_name %>_body">
		<%= yield :module_body %>
	</div>
	<div class="module_foot" id="<%= @widget_name %>_foot">
		<%= yield :module_footer %>
	</div>
</div>